﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/plain; charset=UTF-8" />
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://www.itsaco.ir/images/ico/favicon.png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminContent/plugins/datatables/dataTables.bootstrap4.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/AdminContent/plugins/iCheck/all.css">
    <!-- Persian Data Picker -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/persian-datepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/AdminContent/plugins/select2/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/adminlte.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="~/AdminContent/dist/css/fontgoogleapis.css" rel="stylesheet">

    <!-- bootstrap rtl -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/bootstrap-rtl.min.css">

    <!-- template rtl version -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/iconmoon.css">
    <link rel="stylesheet" href="~/AdminContent/dist/css/custom-style.css">
    <link rel="stylesheet" href="~/AdminContent/dist/css/toastr.css">
    <link rel="stylesheet" href="~/AdminContent/dist/css/jquery-confirm.css">

    <link rel="stylesheet" href="~/AdminContent/bootstrap-colorpicker/jquery.minicolors.css">
    <link href="~/AdminContent/dist/css/custom-style.css" rel="stylesheet" />
    <link href="~/AdminContent/dist/css/easy-loading.min.css" rel="stylesheet" />


    <link href="~/AdminContent/dist/css/bootstrap-treeview.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/AdminContent/dist/css/bootstrap-tagsinput.css" rel="stylesheet" asp-append-version="true" />
   

</head>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/" class="nav-link">خانه</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">تماس</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="جستجو" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    @await Component.InvokeAsync("GlobalGetLanguage", false)
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav mr-auto">
                <!-- Messages Dropdown Menu -->

                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-comments-o"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/AdminContent/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        حسام موسوی
                                        <span class="float-left text-sm text-danger"><i class="fa fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">با من تماس بگیر لطفا...</p>
                                    <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 ساعت قبل</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/AdminContents/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle ml-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        پیمان احمدی
                                        <span class="float-left text-sm text-muted"><i class="fa fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">من پیامتو دریافت کردم</p>
                                    <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 ساعت قبل</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/AdminContents/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle ml-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        سارا وکیلی
                                        <span class="float-left text-sm text-warning"><i class="fa fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">پروژه اتون عالی بود مرسی واقعا</p>
                                    <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i>4 ساعت قبل</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">مشاهده همه پیام‌ها</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
                        <span class="dropdown-item dropdown-header">15 نوتیفیکیشن</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fa fa-envelope ml-2"></i> 4 پیام جدید
                            <span class="float-left text-muted text-sm">3 دقیقه</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fa fa-users ml-2"></i> 8 درخواست دوستی
                            <span class="float-left text-muted text-sm">12 ساعت</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fa fa-file ml-2"></i> 3 گزارش جدید
                            <span class="float-left text-muted text-sm">2 روز</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">مشاهده همه نوتیفیکیشن</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fa fa-th-large"></i>
                    </a>
                </li>
            </ul>


        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="../../index3.html" class="brand-link">
                <img src="~/AdminContent/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">پنل مدیریت</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <div>
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">@User.Identity.Name</a>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->

                            <li class="nav-item">
                                <a href="/Admin/Product" class="nav-link">
                                    <i class="nav-icon fa fa-shopping-cart"></i>
                                    <p>
                                        محصولات
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Admin/Gallery" class="nav-link">
                                    <i class="nav-icon fa fa-picture-o"></i>
                                    <p>
                                        گالری
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Admin/Color" class="nav-link">
                                    <i class="nav-icon fa fa-paint-brush"></i>
                                    <p>
                                        رنگ ها
                                    </p>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="/Admin/Discount" class="nav-link">
                                    <i class="nav-icon fa fa-dollar"></i>
                                    <p>
                                        تخفیفات
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Admin/Slideshow" class="nav-link">
                                    <i class="nav-icon fa fa-slideshare"></i>
                                    <p>
                                        اسلایدشو
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                @RenderBody()
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <strong>CopyLeft &copy; 2018 <a href="http://github.com/hesammousavi/">حسام موسوی</a>.</strong>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>


    <div class="modal fade" id="myModal">
        <div class="modal-dialog" style="max-width: 66%; padding-right: 216px;padding-top: 50px">
            <div class="modal-content">
                <div class="modal-header text-white">

                    <div class="col-md-11">
                        <span class="modal-title headerModalColor" id="myModalLabel"></span>
                    </div>
                    <div class="col-md-1 mr-5">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <div class="modal-body" id="myModalBody">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminContent/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminContent/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/AdminContent/plugins/select2/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/AdminContent/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/AdminContent/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/AdminContent/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- DataTables -->
    <script src="~/AdminContent/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/AdminContent/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- SlimScroll -->
    <script src="~/AdminContent/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

    <!-- FastClick -->
    <script src="~/AdminContent/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminContent/dist/js/adminlte.js"></script>


    <script src="~/AdminContent/bootstrap-colorpicker/jquery.minicolors.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminContent/dist/js/demo.js"></script>
    <!--Treeview-->
    <script src="~/AdminContent/dist/js/bootstrap-treeview.js" asp-append-version="true"></script>
    <script src="~/AdminContent/dist/js/toastr.js" asp-append-version="true"></script>
    <script src="~/AdminContent/dist/js/jquery-confirm.js" asp-append-version="true"></script>
    <script src="~/AdminContent/dist/js/easy-loading.min.js" asp-append-version="true"></script>
    <script src="~/AdminContent/dist/js/persian-date.min.js" asp-append-version="true"></script>
    <script src="~/AdminContent/dist/js/persian-datepicker.min.js" asp-append-version="true"></script>
    <script src="~/AdminContent/dist/js/bootstrap-tagsinput.js" asp-append-version="true"></script>




    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/AdminContent/AdminPages/Utilities.js" asp-append-version="true"></script>

    <script src="//cdn.ckeditor.com/4.16.0/full/ckeditor.js" asp-append-version="true"></script>

    <script>
        $(function () {


            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
        });


    </script>

    @RenderSection("scripts", false)
</body>
</html>
