﻿@model Discount

<div class="cart-body">
    <form id="discountFrm" asp-action="Edit" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Discount_ID" />
        <input type="hidden" asp-for="CountUse" />
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">کلید شروع کد</label>
                <input type="text" asp-for="Title" class="form-control" onchange="spaceEmpty('#Title')">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label" asp-for="Percent"></label>
                <input type="number" asp-for="Percent" class="form-control">
                <span asp-validation-for="Percent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="UnLimitTime" />&nbsp;  تمام مدت
            </div>
        </div>
        <div class="row unlimit_div" style="display:@(Model.UnLimitTime?"none":"")">
            <div class="col-md-6">
                <label class="control-label" asp-for="StartDate"></label>
                <div class="input-group date">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    <input type="text" asp-for="StartDate" class="form-control" value="@Model.StartDate" />
                    <input type="text" id="tarikhAlt1" class="form-control hide pull-right">
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label" asp-for="EndDate"></label>
                <div class="input-group date">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    <input id="EndDate" class="form-control" value="@Model.EndDate" />
                    <input type="text" id="tarikhAlt2" class="form-control hide pull-right">
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="UnLimitUse" />&nbsp;  استفاده نامحدود
            </div>
        </div>
        <div class="form-group isRandom_div" style="display:@(Model.UnLimitUse?"none":"")">
            @if (Model.IsRandom)
            {
                <div class="input-group py-2">
                    <input type="checkbox" asp-for="IsRandom" />&nbsp; کد تخفیف تصادفی
                </div>
            }
            else
            {
                <div class="input-group py-2" style="cursor:not-allowed">
                    <input type="checkbox" asp-for="IsRandom" disabled="disabled"  />&nbsp; کد تخفیف تصادفی
                </div>
            }
        </div>
        <div class="row random_div" style="display:@(Model.UnLimitUse?"none":"")">
            <div class="col-md-4">
                <label class="control-label" asp-for="CountOff"></label>
                <input type="number" asp-for="CountOff" class="form-control" value="@TempData["DiscountCount"]">
                <span asp-validation-for="CountOff" class="text-danger"></span>
            </div>
            <div class="col-md-4 text-left">
                <label class="control-label mt-1" asp-for="CountUse"></label><br />
                <span class="ml-5 badge badge-danger">@TempData["UseDiscountCount"]</span>
            </div>
        </div>
        <div class="row subRandom_div" style="display:@(Model.IsRandom?"":"none")">
            <div class="col-md-6">
                <label class="control-label">تعداد حرف اضافه بر کلید</label>
                <input type="text" id="ExtraChar" class="form-control" value="@TempData["KeyExtra"]">
            </div>
            <div class="col-md-6">
                <label class="control-label">نوع کد تصادفی</label>
                <select id="RandomType" class="form-control">
                    <option value="1">حروف</option>
                    <option value="2">اعداد</option>
                    <option value="3">ترکیب حروف و اعداد</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive" />&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-info" onclick="updateDiscount()" id="btnUpdateDiscount">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
    </form>

</div>

<script src="~/AdminContent/AdminPages/Discount.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#StartDate').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });


        $('#EndDate').persianDatepicker({
            altField: '#tarikhAlt2',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        $('input[id=UnLimitTime]').on('ifChecked', function (event) {
            $(".unlimit_div").fadeOut();
        });
        $('input[id=UnLimitTime]').on('ifUnchecked', function (event) {
            $(".unlimit_div").fadeIn().css('display', '');
        });


        $('input[id=UnLimitUse]').on('ifChecked', function (event) {
            $(".isRandom_div").fadeOut();
            $(".random_div").fadeOut();
            $(".subRandom_div").fadeOut();
            $("#IsRandom").parent('.icheckbox_square-blue').removeClass('checked');
            $("#IsRandom").prop('checked', false);
        });
        $('input[id=UnLimitUse]').on('ifUnchecked', function (event) {
            $(".isRandom_div").fadeIn().css('display', '');
            $(".random_div").fadeIn().css('display', '');
        });


        $('input[id=IsRandom]').on('ifChecked', function (event) {
            $(".subRandom_div").fadeIn().css('display', '');

            //$(".random_div").fadeOut();
        });
        $('input[id=IsRandom]').on('ifUnchecked', function (event) {
            $(".subRandom_div").fadeOut();
            //$(".random_div").fadeIn().css('display', '');
        });

    });

</script>