﻿@model IEnumerable<SubDiscount>
    <div class="card-tools">
        <p class="badge badge-success">تعداد تخفیف @Model.Count()</p>
        <p class="badge badge-danger">تعداد تخفیف استفاده شده @Model.Count(x=>x.IsUse)</p>
    </div>
    <table class="table table-hover" id="subDiscount_tb">
        <thead>
            <tr>
                <th>کد تخفیف تصادفی</th>
                <th>وضعیت</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @if (item.IsUse)
                        {
                            <span class="text-danger">استفاده شده</span>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        $(function () {
            $("#subDiscount_tb").DataTable({
                pageLength: 5,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Persian.json",
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },

                "processing": true,
                "info": false,
            });
        });
    </script>