﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.Discounts.DiscountsModel
@{
    ViewData["Title"] = "تخفیف";
}

<!-- #region Discount -->

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">  تخفیف </h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createDiscount()"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('discount_tb', 'test')" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick=" printHtml('discount_tb')" id="print" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">

                    <table id="discount_tb" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>درصد</th>
                                <th>تاریخ شروع</th>
                                <th>تاریخ پایان</th>
                                <th>وضعیت</th>
                                <th> زمانی</th>
                                <th> استفاده</th>
                                <th>تعداد </th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </form>
        </div>

    </div>
</div>

<!-- #endregion -->

@section scripts{
    <script src="~/AdminContent/AdminPages/Discount.js"></script>


    <script>
        $(function () {
            setTooltip("#discount_tb");
            viewAllDiscounts();
        });
    </script>
}
