﻿@model SendTypeTranslation


<div class="cart-body">

    <form id="sendTypeTransFrm" asp-action="CreateSendTypeTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SendType_Id" value="@TempData["SendTypeId"]" />
        <div class="form-group">
            <label for="Title">زبان</label>
            @await Component.InvokeAsync("GetLanguages", false)
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea  asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-success" onclick="insertSendTypeTranslation()" id="btnInsertSendTypeTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/SendType.js"></script>
<partial name="_ValidationScriptsPartial" />
