﻿@model SendType

<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#sendType_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="sendTypeFrm" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="SendType_ID"  data-idselected="@Model.Type"/>
                        <div class="row">
                            <div class="col-md-7">
                                <label asp-for="Type" class="control-label"></label>
                                <select asp-for="Type" asp-items="@(new SelectList((Dictionary<int,string>)TempData["SendType_Types"],"Key","Value"))" class="form-control" onchange="setSendTypeImage($(this).val(),'#Image')">
                                    <option value="0">انتخاب کنید ...</option>
                                </select>
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                            <div class="col-md-3 text-lg">
                                <br />
                                <label id="Image"></label>
                            </div>
                        </div>
                        <div class="row">
                          
                            <div class="col-md-6 resume">
                                <br />
                                <button type="button" class="btn btn-outline-info" id="btnUpdateSendType" onclick="updateSendType()">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="sendType_trans">

            </div>

            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/SendType.js"></script>
<script>
    $(function () {

        var typeId = getSendTypeTitle($('#SendType_ID').attr('data-idselected'));
        setSendTypeImage(typeId, '#Image')
        $("#Type").val(typeId);
    });
</script>