﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.SendTypes.SendTypesModel
@{
    ViewData["Title"] = "روش های ارسال";
}

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">روش ارسال</h3>
                </div>
                <div class="col-10 btn-add-header">

                    <button class="btn btn-outline-success" onclick="createSendType()"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('sendType_tb', 'test')" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="  printHtml('sendType_tb');" id="print"><i class="fa fa-print"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">
                    <table id="sendType_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>نوع روش ارسال</th>
                                <th>عنوان</th>
                                <th>تصویر</th>
                                <th>قیمت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>

</div>

@section scripts{
    <script src="~/AdminContent/AdminPages/SendType.js"></script>

    <script>
        $(function () {
            viewAllSendTypes();
        });
    </script>
}
