﻿@model FileManageGroupTranslation


<div class="cart-body">

    <form id="fileManageGroupTransFrm" asp-action="CreateFileManageGroupTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FileManageGroup_Id" value="@TempData["FileManageGroupId"]" />
       
        <div class="row">
            <div class="col-md-6">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control" onchange="setSlug($(this).val(),'#Slug')">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-4 hide">
                <label asp-for="Slug" class="control-label"></label>
                <input type="text" asp-for="Slug" class="form-control">
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-success" id="btnInsertFileManageGroupFinal" onclick="insertFileManageGroupTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/FileManageGroup.js"></script>
<partial name="_ValidationScriptsPartial" />