﻿@model FileManageGroup
<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#fileManageGroup_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="fileManageGroupFrm" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="FileManageGroup_ID" />
                        <div class="row">
                            <div class="col-md-9">
                                <div id="fileManageGroup_tw" style="width:315px;margin-right:-20px"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group py-2">
                                    <input type="checkbox" asp-for="IsActive" checked="checked" />&nbsp;  فعال / غیر فعال
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 resume insert-div">
                                <br />
                                <button type="button" class="btn btn-outline-primary" onclick="insertFileManageGroup()" id="btnInsertFileManageGroup">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                                </button>
                            </div>
                            <div class="col-md-6 resume update-div hide">
                                <br />
                                <button type="button" class="btn btn-outline-info" onclick="updateFileManageGroup()" id="btnUpdateFileManageGroup">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane" id="fileManageGroup_trans">

            </div>
        </div>
        <!-- /.tab-pane -->
        <!-- /.tab-content -->
    </div><!-- /.card-body -->
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/FileManageGroup.js"></script>
<script>
    $(function () {
        getAllFilesManageGroupForTreeView($("#global_language_id").val());

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

</script>