﻿@model FileManageGroupTranslation


<div class="cart-body">

    <form id="fileManageGroupTransFrm" asp-action="EditFileManageGroupTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FileManageGroup_Id" />
        <input type="hidden" asp-for="SiteMap_Id" value="@Model.SiteMap_Id" />

        <div class="row">
            <div class="col-md-6">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control" data-id="@Model.FileManageGroupTranslation_ID" onchange="setSlug($(this).val(),'#Slug')">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-4 hide">
                <label asp-for="Slug" class="control-label"></label>
                <input type="text" asp-for="Slug" class="form-control">
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group update_div">
            <br />
            <button type="button" class="btn btn-outline-info" id="btnUpdateFileManageGroupTrans" onclick="updateFileManageGroupTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <br />
            <button type="button" class="btn btn-outline-success" id="btnInsertFileManageGroupFinal" onclick="insertFileManageGroupTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/FileManageGroup.js"></script>
<partial name="_ValidationScriptsPartial" />

<script>
    $("#language_id").change(function () {
        var LangId = $(this).val();
        getFileManageGroupInfoWithLanguage(LangId, $("#FileManageGroup_Id").val());
    });
</script>