﻿@model FileManage

<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#fileManage_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="fileManageFrm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="FileManage_ID" />
                        <input type="hidden" asp-for="CreateDate" />
                        <input type="hidden" asp-for="FileSize" />
                        <input type="hidden" id="oldFileData" asp-for="FileData" />
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="Type" class="control-label"></label>
                                <select asp-for="Type" class="form-control" onchange="uploadTypeSwitch($('#Type option:selected').text())" asp-items="@Html.GetEnumSelectList<UploadType>()">
                                </select>
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                            <div class="col-md-1 text-lg">
                                <br />
                                <label id="Image" class="fa fa-file"></label>
                            </div>
                            <div class="col-md-4 fileUpload_div">
                                <label asp-for="FileData" class="control-label"></label>
                                <input type="file" class="form-control-file" id="fileUpload" onchange="readURL(this, '#imgPreviewGallery')">
                                <span asp-validation-for="FileData" class="text-danger"></span>
                            </div>
                            <div class="col-md-3 fileUpload_div">
                                <br />
                                <a href="/@Model.FileData">
                                    <i class="fa fa-download"></i> دانلود
                                </a>
                            </div>
                            <div class="col-md-6 link_div hide">
                                <label class="control-label">لینک</label>
                                <input type="text" id="link" class="form-control" value="@Model.FileData">
                                <span asp-validation-for="FileData" class="text-danger"></span>
                            </div>
                            <div class="col-md-7 scirpt_div hide">
                                <label class="control-label">اسکریپت</label>
                                <textarea id="srcipt_txt" class="form-control">@Model.FileData</textarea>
                                <span asp-validation-for="FileData" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group py-2">
                                <input type="checkbox" asp-for="IsActive" />&nbsp;  فعال / غیر فعال
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 resume update-div">
                                <br />
                                <button type="button" class="btn btn-outline-info" id="btnUpdateFileManage" onclick="updateFileManage()">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="fileManage_trans">

            </div>

            <!-- /.tab-fileManage -->
        </div><!-- /.card-body -->
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/FileManage.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
        var typeId = getTypeId('@Model.Type');
        $("#Type").val(typeId);
        uploadTypeSwitch($('#Type option:selected').text());
    });

</script>