﻿@model FileManageTranslation


<div class="cart-body">

    <form id="fileManageTransFrm" asp-action="EditFileManageTranslationTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FileManage_Id" />
        <input type="hidden" asp-for="FileManageTranslation_ID" />
        <input type="hidden" asp-for="TranslationGroup_Id" />
        <input type="hidden" asp-for="SiteMap_Id" />
        <div class="form-group">
            <div class="col-md-4">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-link text-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            انتخاب گروه
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <div id="fileManageGroup6_tw" style="width:315px;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <input type="checkbox" id="isChange" />&nbsp; تغییر اسلاگ
                <input type="text" asp-for="Slug" disabled="disabled" class="form-control mt-2" onchange="setSlug($(this).val(),'#Slug')">
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="MetaTitle" class="control-label"></label>
                <input type="text" asp-for="MetaTitle" class="form-control">
                <span asp-validation-for="MetaTitle" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="MetaKeword" class="control-label"></label>
                <input type="text" asp-for="MetaKeword" class="form-control">
                <span asp-validation-for="MetaKeword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="MetaDescription" class="control-label"></label>
                <textarea rows="4" asp-for="MetaDescription" class="form-control"></textarea>
                <span asp-validation-for="MetaDescription" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="MetaOther" class="control-label"></label>
                <textarea rows="4" asp-for="MetaOther" class="form-control"></textarea>
                <span asp-validation-for="MetaOther" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group update_div">
            <br />
            <button type="button" class="btn btn-outline-info" onclick="updateFileManageTranslation()" id="btnUpdateFileManageTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <br />
            <button type="button" class="btn btn-outline-success" onclick="insertFileManageTranslation()" id="btnInsertFileManageFinal">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/FileManageGroup.js"></script>
<script src="~/AdminContent/AdminPages/FileManage.js"></script>
<partial name="_ValidationScriptsPartial" />


<script>
    $(function () {
        CKEDITOR.replace('Description', {
            customConfig: '/ckeditor/config.js'
        });
        getFileManageInfoWithLanguage($("#language_id").val(), $("#FileManage_Id").val());
    });
    $("#language_id").change(function () {
        getFileManageInfoWithLanguage($(this).val(), $("#FileManage_Id").val());
    });
    $("#isChange").change(function () {
        if (this.checked) {
            $("#Slug").attr('disabled', false);
        }
        else if (!this.checked) {
            $("#Slug").attr('disabled', true);
        }
    });


</script>