﻿@model FileManageGroupTranslation

<table class="table table-bordered table-hover" id="fileManageGroup_tb">
    <thead>
        <tr>
            <th>عنوان</th>
            <th>وضعیت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tr>
        <td>@Model.Title</td>

        <td>
            @if (Model.FileManageGroup.IsActive)
            {
                <span class="text-success">فعال</span>
            }
            else
            {
                <span class="text-danger">غیرفعال</span>
            }
        </td>
        <td>
            <div class="btn-group" role="group">
                <span class="btn btn-outline-info btnFileManageGroupEdit" onclick="editFileManageGroup(@Model.FileManageGroup_Id,@Model.FileManageGroupTranslation_ID)" data-fileManageGroupId="@Model.FileManageGroup_Id" data-id="@Model.FileManageGroupTranslation_ID">

                    <i class="fa fa-edit fa-sm"></i>
                </span>
                <span class="btn btn-outline-danger btnFileManageGroupDelete" onclick="deleteFileManageGroup(@Model.FileManageGroup_Id,@Model.FileManageGroupTranslation_ID)" data-fileManageGroupId="@Model.FileManageGroup_Id" data-id="@Model.FileManageGroupTranslation_ID">
                    <i class="fa fa-trash fa-sm"></i>
                </span>
            </div>
        </td>
    </tr>
</table>

<script src="~/AdminContent/AdminPages/FileManageGroup.js"></script>

