﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.FilesManage.FilesManageModel
@{
    ViewData["Title"] = "فایل ها";
}

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title"> گروه محتواها</h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" id="btnCreateFileManageGroup" onclick="createFileManageGroup()"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>


        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="form-group">
                <div id="fileManageGroup2_tw" style="width:315px;"></div>
            </div>
            <form method="post">
                <div class="row table-responsive" id="fileManageGroupDetails">



                </div>
            </form>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">فایل ها</h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createFileManage()"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('fileManage_tb', 'test')" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="  printHtml('fileManage_tb');" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <div id="fileManageGroup5_tw" style="width:315px;"></div>
                </div>


                <div class="row table-responsive culture">
                    <table id="fileManage_tb" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>وضعیت</th>
                                <th>لینک فایل</th>
                                <th>حجم فایل</th>
                                <th>تاریخ ایجاد</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>


</div>

@section scripts{
    <script src="~/AdminContent/AdminPages/FileManageGroup.js"></script>
    <script src="~/AdminContent/AdminPages/FileManage.js"></script>

    <script>
        $(function () {
            setTooltip("#fileManage_tb");

            getAllFilesManageGroupForTreeView($("#global_language_id").val());
            viewAllFileManages();
        });
    </script>
}
