﻿@model ItisaCMS_RazorPage.Areas.Admin.Pages.Languages.LanguagesModel


<div class="cart-body">
    <form id="langFrm" asp-action="Create" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label for="Language_Id">شناسه زبان</label>
            <select asp-for="Language.Id" class="form-control">
                <option value="0">شناسه زبان</option>
                <option value="fa-IR">fa</option>
                <option value="en-US">en</option>
            </select>
            <span asp-validation-for="Language.Id" class="text-danger"></span>
        </div>
        <div class="form-label-group">
            <input type="text" asp-for="Language.Name" class="form-control" placeholder="نام زبان" required="">
            <label for="Language_Name">نام زبان</label>
            <span asp-validation-for="Language.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="Language.IsActive" />&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-outline-success" id="btnInsertLang">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>

    </form>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/Language.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
    });

</script>

