﻿@model Language


<div class="cart-body">
    <form id="langFrmEdit" asp-action="Edit" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label for="Language_Id">شناسه زبان</label>
            <select asp-for="Id" class="form-control">
                <option value="fa-IR">fa</option>
                <option value="en-US">en</option>
            </select>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Language_Name">نام زبان</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="نام زبان" required="">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive" />&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <button type="button" class="btn btn-outline-info" id="btnUpdateLang">
                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                </button>
            </div>
        </div>

    </form>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/Language.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
    });

</script>

