﻿


<table class="table table-bordered table-striped" id="language_tb">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>نام زبان</th>
            <th>وضعیت</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="lang_tbody"></tbody>
</table>

@*@if (Model.Count() > 0)
    {

        <table class="table table-bordered table-striped" id="language_tb">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>شناسه</th>
                    <th>نام زبان</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody id="lang_tbody">
                @foreach (var language in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>
                            @language.Id
                        </td>
                        <td>
                            @language.Name
                        </td>
                        <td>
                            @if (language.IsActive)
                            {
                                <span class="fa fa-check-square-o text-success" tool-tip-toggle="tooltip-demo"
                                      data-original-title="فعال">
                                </span>
                            }
                            else
                            {
                                <span class="fa fa-window-close text-danger" tool-tip-toggle="tooltip-demo"
                                      data-original-title="غیر فعال"></span>
                            }
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <span class="btn btn-outline-info btnLanguageEdit" data-id="@language.Id">
                                    <i class="fa fa-edit fa-sm"></i>
                                </span>
                                <span class="btn btn-outline-danger btnLanguageDelete" data-id="@language.Id">
                                    <i class="fa fa-trash fa-sm"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                    i++;
                }

            </tbody>
        </table>
    }
    else
    {
        <script>
            $("#langauges_div").html('در حال حاضر زبانی تعریف نشده است');
            $("#langauges_div").addClass("alert alert-primary");
        </script>
    }*@


@*<script src="~/AdminContent/AdminPages/Language.js"></script>*@

@*<script>
    $(function () {
        $("#language_tb").DataTable({
            "language": {
                "paginate": {
                    "next": "بعدی",
                    "previous": "قبلی"
                }
            },
            "processing": true,
            "info": false,
        });
        $('[tool-tip-toggle="tooltip-demo"]').tooltip({
            placement: 'bottom'
        });





    });
</script>*@
