﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.Languages.LanguagesModel
@{
    ViewData["Title"] = "زبان ها";
}



<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">مدیریت زبان </h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" id="btnCreateLanguage"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" id="print" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row table-responsive culture" id="langauges_div">
                <form method="post" asp-action="ConvertToPdf">
                    <table id="language_tb" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>شناسه</th>
                                <th>نام زبان</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </form>
            </div>
        </div>

    </div>

</div>

@section scripts{
    <script src="~/AdminContent/AdminPages/Language.js"></script>

    <script>
        $(function () {
            viewAllLanguages();
       
            

        });
    </script>
}
