﻿@model CoWorker

<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#coWorker_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="coWorkerFrm" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CoWorker_ID" />
                        <div class="row">
                            <div class="col-md-5">
                                <label>گروه برای آپلود عکس</label>
                                <select class="form-control" id="coWorkerGroup" onchange="getCoWorkerImageSize($(this).val())" asp-items="@(new SelectList((IEnumerable<CoWorkerGroupTranslation>)TempData["CoWorkerGroups"],"CoWorkerGroup_Id","Title"))">
                                    <option value="">انتخاب کنید ...</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Image" class="control-label"></label>
                                <input type="file" class="form-control-file" asp-for="Image" onchange="readURL(this, '#imgPreviewCoWorker')">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <img id="imgPreviewCoWorker" style=" max-width: 100px; height:100px" />
                            </div>
                        </div>
                      
                        <div class="row">
                            <div class="col-md-3">
                                <span id="imgWidth" class="text-danger text-bold"></span> <span id="imgHeight" class="text-danger text-bold"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 resume insert-div">
                                <br />
                                <button type="button" class="btn btn-outline-primary" onclick="insertCoWorker()" id="btnInsertCoWorker">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                                </button>
                            </div>
                            <div class="col-md-6 resume update-div hide">
                                <br />
                                <button type="button" class="btn btn-outline-info" id="btnUpdateCoWorker" onclick="updateCoWorker()">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="coWorker_trans">

            </div>

            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/CoWorker.js"></script>

