﻿@model CoWorkerGroupTranslation

<div class="cart-body">
    <form id="coWorkerGroupTransFrm" asp-action="CreateGroupTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CoWorkerGroup_Id" />
        <input type="hidden" asp-for="CoWorkerGroupTranslation_ID" />
        <div class="form-group">
            <label>زبان</label>
            @await Component.InvokeAsync("GetLanguages", false)
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input type="text" asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group update_div">
            <button type="button" class="btn btn-outline-info" onclick="updateCoWorkerGroupTranslation()" id="btnUpdateCoWorkerTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <button type="button" class="btn btn-outline-success" onclick="insertCoWorkerGroupTranslation()" id="btnInsertCoWorkerGroupTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>

    </form>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/"></script>
<script>

    $("#language_id").change(function () {

        var LangId = $(this).val();
        getGroupTransInfoWithLangId(LangId, $("#CoWorkerGroup_Id").val());
    });
</script>