﻿@model CoWorkerGroup
<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#coWorkerGroup_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">
                    <form id="coWorkerGroupFrm" asp-action="EditGroup" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CoWorkerGroup_ID" />
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="ImageWidth" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="ImageWidth">
                                <span asp-validation-for="ImageWidth" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="ImageHeight" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="ImageHeight">
                                <span asp-validation-for="ImageHeight" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <br />
                                <div class="input-group py-2">
                                    <input type="checkbox" asp-for="IsActive" />&nbsp;  فعال / غیر فعال
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 resume">
                            <br />
                            <button type="button" class="btn btn-outline-info" id="btnUpdateCoWorkerGroup" onclick="updateCoWorkerGroup()">
                                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="coWorkerGroup_trans">

            </div>

            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

</script>