﻿@model CoWorkerTranslation


<div class="cart-body">

    <form id="coWorkerTransFrm" asp-action="EditCoWorkerTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CoWorker_Id" />
        <input type="hidden" asp-for="CoWorkerTranslation_ID" />
        <div class="row">
            <div class="col-md-6">
                <label>زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-6">
                <label asp-for="TranslationGroup_Id" class="control-label"></label>
                <select asp-for="TranslationGroup_Id" class="form-control">
                    <option value="">انتخاب کنید ...</option>
                </select>
                <span asp-validation-for="TranslationGroup_Id" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Link" class="control-label"></label>
                <input type="text" asp-for="Link" class="form-control">
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive"/>&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group update_div">
            <br />
            <button type="button" class="btn btn-outline-info" id="btnUpdateCoWorkerFinal" onclick="updateCoWorkerTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <br />
            <button type="button" class="btn btn-outline-success" id="btnInsertCoWorkerFinal" onclick="insertCoWorkerTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/CoWorker.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        getCoWorkerTransInfoWithLanguage('', $("#CoWorker_Id").val(), '@Model.TranslationGroup_Id');
    });

    $("#language_id").change(function () {
        getCoWorkerTransInfoWithLanguage($(this).val(), $("#CoWorker_Id").val(), null);
    });

</script>