﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.CoWorkers.CoWorkersModel
@{
    ViewData["Title"] = "همکاران";
}
<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title"> گروه همکاران</h3>
                </div>
                <div class="col-2 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createCoWorkerGroup()"><i class="fa fa-plus"></i> افزودن</button>
                </div>
                

            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('coWorkerGroup_tb', 'test')" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick=" printHtml('coWorkerGroup_tb')" id="print" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="">
            <form method="post">
                <div class="row table-responsive culture">

                    <table id="coWorkerGroup_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </form>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">همکاران</h3>
                </div>
                <div class="col-2 btn-add-header">

                    <button class="btn btn-outline-success" onclick="createCoWorker()"><i class="fa fa-plus"></i> افزودن</button>
                </div>
                <div class="col-3">
                    <select class="form-control" id="coWorkerGroup_ddl" onchange="viewAllCoWorkers($(this).val())">
                        <option value="0">گروه همکاران ...</option>
                    </select>
                </div>
                <div class="col-1">
                    <i class="fa fa-filter text-lg" aria-hidden="true"></i>
                </div>

            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('coWorker_tb', 'test')" id="excel2" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="  printHtml('coWorker_tb');" id="print2"><i class="fa fa-print"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">
                    <table id="coWorker_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>تصویر</th>
                                <th>نام</th>
                                <th>نام گروه</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>

</div>

@section scripts{
    <script src="~/AdminContent/AdminPages/CoWorkerGroup.js"></script>
    <script src="~/AdminContent/AdminPages/CoWorker.js"></script>

    <script>
        $(function () {
            viewAllCoWorkerGroups();
            viewAllCoWorkers();
            getCoWorkerGroupByLang_Global("", "#coWorkerGroup_ddl");
        });
    </script>
}
