﻿@model SocialNetworkTranslation


<div class="cart-body">

    <form id="socialNetworkTransFrm" asp-action="CreateSocialNetworkTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SocialNetwork_Id" value="@Model.SocialNetwork_Id" />
        <div class="form-group">
            <label for="Title">زبان</label>
            @await Component.InvokeAsync("GetLanguages", false)
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input type="text" asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive" />&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group update_div">
            <br />
            <button type="button" class="btn btn-outline-info" onclick="updateSocialNetworkTranslation()" id="btnInsertSocialNetworkTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <br />
            <button type="button" class="btn btn-outline-success" onclick="insertSocialNetworkTranslation()" id="btnInsertSocialNetworkTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/SocialNetwork.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });

        $("#language_id").change(function () {
            var LangId = $(this).val();
            getSocialNetworkInfoWithLanguage(LangId, $("#SocialNetwork_Id").val());
        });

    });

</script>