﻿@model SeoPage


<div class="cart-body">
    <form id="seoPageFrm" asp-action="CreateSeoPage" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PageUrl" class="control-label"></label>
            <input type="text" asp-for="PageUrl" class="form-control" dir="ltr">
            <span asp-validation-for="PageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaTitle" class="control-label"></label>
            <input type="text" asp-for="MetaTitle" class="form-control">
            <span asp-validation-for="MetaTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaKeyword" class="control-label"></label>
            <textarea asp-for="MetaKeyword" class="form-control"></textarea>
            <span asp-validation-for="MetaKeyword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaDescription" class="control-label"></label>
            <textarea asp-for="MetaDescription" class="form-control"></textarea>
            <span asp-validation-for="MetaDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaOther" class="control-label"></label>
            <textarea asp-for="MetaOther" class="form-control"></textarea>
            <span asp-validation-for="MetaOther" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-outline-success" onclick="insertSeoPage()" id="btnInsertSeoPage">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>

    </form>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/SeoPage.js"></script>
