﻿@model IEnumerable<Language>

<select class="form-control" id="language_id">
    <option value="0" selected="selected">انتخاب زبان ...</option>
    @foreach (var lang in Model)
    {
        if (lang.Id == CultureInfo.CurrentCulture.Name)
        {
            <option value="@lang.Id" selected="selected">@lang.Name</option>
        }
        else
        {
            <option value="@lang.Id">@lang.Name</option>
        }

    }
</select> 