﻿@model GalleryTranslation


<div class="cart-body">

    <form id="galleryTransFrm" asp-action="CreateGalleryTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Gallery_Id" value="@TempData["GalleryId"]" />
        <div class="form-group">
            <label for="Title">زبان</label>
            @await Component.InvokeAsync("GetLanguages", false)
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="GroupTranslation_Id" class="control-label"></label>
                <select asp-for="GroupTranslation_Id" class="form-control">
                    <option value="">انتخاب کنید</option>
                </select>
                <span asp-validation-for="GroupTranslation_Id" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control" onchange="setSlug($(this).val(),'#Slug')">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group hide">
            <label asp-for="Slug" class="control-label"></label>
            <input type="text" asp-for="Slug" class="form-control">
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive" checked="checked" />&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-success" id="btnInsertGalleryFinal" onclick="insertGalleryTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/Gallery.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });

        getGalleryGroupByLang_Global("", "#GroupTranslation_Id", "", "");
    });
    $("#language_id").change(function () {
        var LangId = $(this).val();
        getGalleryGroupByLang_Global(LangId, "#GroupTranslation_Id","","");
    });
</script>