﻿@model GalleryPicture

<div class="row">
    <div class="col-md-12">
        <form id="galleryPicFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Gallery_Id" value="@TempData["GalleryId"]" />
            <div class="alert alert-warning alert-dismissible hide">
                <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-warning"></i> توجه</h4>
                عکس آپلودی شما باید در اندازه 350 * 267 باشد
            </div>
            <div class="form-group" id="galleryPicFileManager">
                @*<label asp-for="Image" class="control-label required">انتخاب تصاویر</label>
                <input asp-for="Image" class="form-control" type="file" multiple="multiple" id="ImageUpload" onchange="ImageUploader()" />
                <span asp-validation-for="Image" class="text-danger"></span>*@

            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-success" id="btnUploadGalleryPic" onclick="Upload()">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
                    </button>
                </div>
            </div>
        </form>

        <div id="ViewAllGalleryPic"></div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/AdminContent/AdminPages/GalleryPicture.js"></script>
<script>
    $(document).ready(function () {
        createFileManager("#galleryPicFileManager");

        $('#imgPreviews').on('click', '.myimage span i', function () {
            $(this).closest('div.myimage').hide(500);
            var fn = $(this).closest('div.myimage').children('img').attr('id');
            removePictureFile2(fn);

        });
    });
</script>