﻿@model GalleryGroupTranslation

<div class="cart-body">
    <form id="galleryGroupTransFrm" asp-action="CreateGroupTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="GalleryGroup_Id" value="@TempData["GroupId"]" />
        <div class="row">
            <div class="col-md-6">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <button type="button" class="btn btn-outline-success" onclick="insertGalleryGroupTranslation()" id="btnInsertGalleryGroupTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>

    </form>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/GalleryGroup.js"></script>
