﻿@model GalleryGroup

<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#galleryGroup_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">
                    <form id="galleryGroupFrm" asp-action="CreateGalleryGroup" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="LargPicWidth" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="LargPicWidth" value="0">
                                <span asp-validation-for="LargPicWidth" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="LargPicHeight" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="LargPicHeight" value="0">
                                <span asp-validation-for="LargPicHeight" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="MediumPicWidth" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="MediumPicWidth" value="0">
                                <span asp-validation-for="MediumPicWidth" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="MediumPicHeight" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="MediumPicHeight" value="0">
                                <span asp-validation-for="MediumPicHeight" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="SmallPicWidth" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="SmallPicWidth" value="0">
                                <span asp-validation-for="SmallPicWidth" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="SmallPicHeight" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="SmallPicHeight" value="0">
                                <span asp-validation-for="SmallPicHeight" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6 resume insert-div">
                            <button type="button" class="btn btn-outline-success" onclick="insertGalleryGroup()" id="btnInsertGalleryGroup">
                                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
                            </button>
                        </div>
                        <div class="col-md-6 resume update-div hide">
                            <br />
                            <button type="button" class="btn btn-outline-info" id="btnUpdateGalleryGroup" onclick="updateGalleryGroup()">
                                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="galleryGroup_trans">

            </div>

            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
</div>




<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/GalleryGroup.js"></script>
