﻿@model GalleryTranslation


<div class="cart-body">

    <form id="galleryTransFrm" asp-action="EditGalleryTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Gallery_Id" value="@Model.Gallery_Id" />
        <input type="hidden" asp-for="GalleryTranslation_ID" value="@Model.GalleryTranslation_ID" />
        <input type="hidden" asp-for="Slug" value="@Model.Slug" />
        <div class="form-group">
            <label for="Title">زبان</label>
            @await Component.InvokeAsync("GetLanguages", false)
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="GroupTranslation_Id" class="control-label"></label>
                <select asp-for="GroupTranslation_Id" class="form-control">
                    <option value="">انتخاب کنید</option>
                </select>
                <span asp-validation-for="GroupTranslation_Id" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive" />&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group update_div">
            <br />
            <button type="button" class="btn btn-outline-info" id="btnUpdateGalleryTrans" onclick="updateGalleryTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <br />
            <button type="button" class="btn btn-outline-success" id="btnInsertGalleryFinal" onclick="insertGalleryTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/Gallery.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
        getGalleryGroupByLang_Global2("", "#GroupTranslation_Id", '@Model.GroupTranslation_Id', "edit");
    });

    $("#language_id").change(function () {
        var LangId = $(this).val();
        getGalleryTransInfoWithLanguage(LangId, $("#Gallery_Id").val());
    });
</script>