﻿@model GalleryGroupTranslation

<div class="cart-body">
    <form id="galleryGroupTransFrm" asp-action="EditGroupTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="GalleryGroup_Id" />
        <input type="hidden" asp-for="GalleryGroupTranslation_ID" />
        <div class="row">
            <div class="col-md-6">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
           
        </div>
        <div class="form-group update_div">
            <button type="button" class="btn btn-outline-info" onclick="updateGalleryGroupTranslation()" id="btnUpdateGalleryGroupTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <button type="button" class="btn btn-outline-success" onclick="insertGalleryGroupTranslation()" id="btnInsertGalleryGroupTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>

    </form>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/GalleryGroup.js"></script>
<script>

    $("#language_id").change(function () {

        var LangId = $(this).val();
        getGroupTransInfoWithLangId(LangId, $("#GalleryGroup_Id").val());
    });
</script>