﻿@model IEnumerable<GalleryPicture>
@{ 
    var galleryGroup = TempData["GalleryGroup"] as GalleryGroup;
}
<span>
    <i class="fa fa-list" aria-hidden="true"></i>
    لیست تصاویر گالری
</span>

<div class="pull-left" style="margin-top:-4px;">
    <p>
        <button type="button" class="btn btn-outline-danger mb-1" onclick="checkboxSelectedGalleryPictures();"><i class="fa fa-trash"></i> حذف تصاویر گالری</button>
    </p>
</div>

<hr />
<span>
    <input type="checkbox" id="checkAllGalleryPic" />
    انتخاب همه تصاویر
</span>
<ul class="users-list clearfix">
    @foreach (var item in Model)
    {
        //Item1 :Orginal Item2:Medium Item3:Thumb  جهت گرفتن عکس کوچک و ...
        Tuple<string, string, string> fileOfFilePaths = FileManipulate.CreateNewFileNameWithSizeInfo(item.Image,int.Parse(galleryGroup.SmallPicWidth), int.Parse(galleryGroup.SmallPicHeight));
        <li id="gp_@item.GalleryPic_ID" style="width:16% !important;float:right">
            <img src="~/@fileOfFilePaths.Item3" style="border-radius:5% !important" />
            <input type="checkbox" name="forRemove" class="forRemove" value="@item.GalleryPic_ID" style="margin:10px !important" />
        </li>


    }
</ul>
@*</table>*@
<script src="~/AdminContent/AdminPages/GalleryPicture.js"></script>
<script>
    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        $('input[id=checkAllGalleryPic]').on('ifChecked', function (event) {
            $('.icheckbox_square-blue').addClass('checked');
        });
        $('input[id=checkAllGalleryPic]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });

        $('.icheckbox_square-blue').css('margin', '10px');

    });
</script>