﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.Galleries.GalleriesModel
@{
    ViewData["Title"] = "گالری";
}

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title"> گروه گالری</h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createGalleryGroup()" id="btnCreateConnectionGroup"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('galleryGroup_tb', 'test')" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick=" printHtml('galleryGroup_tb')" id="print" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">

                    <table id="galleryGroup_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </form>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">گالری</h3>
                </div>
                <div class="col-2 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createGallery()" id="btnCreateConnection"><i class="fa fa-plus"></i> افزودن</button>
                </div>
                <div class="col-3">
                    <select class="form-control" id="galleryGroup_ddl" onchange="viewAllGalleries($(this).val())">
                        <option value="0">گروه گالری ...</option>
                    </select>
                </div>
                <div class="col-1">
                    <i class="fa fa-filter text-lg" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('gallery_tb', 'test')" id="excel2" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="  printHtml('gallery_tb');" id="print2"><i class="fa fa-print"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">
                    <table id="gallery_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>تصویر</th>
                                <th>عنوان</th>
                                <th>نام گروه</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>

</div>

@section scripts{
    <script src="~/AdminContent/AdminPages/GalleryGroup.js"></script>
    <script src="~/AdminContent/AdminPages/Gallery.js"></script>

    <script>
        $(function () {
            viewAllGalleryGroups();
            viewAllGalleries();
            getGalleryGroupByLang_Global("", "#galleryGroup_ddl", "", "");
        });
    </script>
}
