﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.IndexModel
@{
    ViewBag.Title = "داشبورد";
    //Layout = "_AdminPanelLayout";
    //Layout = null;
}
<h2>پنل مدیریت</h2>


<span class="icon-google1"></span>


<div id="PictureProduct"></div>

<!-- jQuery -->
@*<script src="~/AdminContent/plugins/jquery/jquery.min.js"></script>*@

@section Scripts{

    <script>
        var myArr = [];
        $(function () {
            createFileManagerProduct();
        });

       


        $("#btnTest").click(function () {

        });

        function createFileManagerProduct() {
            $.get("/Admin/Products?handler=FileManagerPartialView", function (res) {
                debugger;
                $("#PictureProduct").html(res);
            });
        }
    </script>

}