﻿@model FeatureTranslation


<div class="cart-body">

    <form id="featureTransFrm" asp-action="CreateFeatureTranslation" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Feature_Id" value="@TempData["FeatureId"]" />
        <div class="row">
            <div class="col-md-4">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-8">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <button type="button" class="btn btn-outline-success" id="btnInsertFeatureFinal" onclick="insertFeatureTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/Feature.js"></script>
<partial name="_ValidationScriptsPartial" />
