﻿@model Feature

<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#feature_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="featureFrm" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Feature_ID" />
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label asp-for="FeatureGroup_Id" class="control-label"></label>
                                <select asp-for="FeatureGroup_Id" class="form-control">
                                </select>
                                <span asp-validation-for="FeatureGroup_Id" class="text-danger"></span>
                            </div>
                          
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="checkbox" asp-for="IsVariable" />&nbsp;  متغیر
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" asp-for="UseFilter" />&nbsp;  استفاده در فیلتر
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 resume insert-div">
                                <br />
                                <button type="button" class="btn btn-outline-primary" onclick="insertFeature()" id="btnInsertFeature">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                                </button>
                            </div>
                            <div class="col-md-6 resume update-div hide">
                                <br />
                                <button type="button" class="btn btn-outline-info" id="btnUpdateFeature" onclick="updateFeature()">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="feature_trans">

            </div>

            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/Feature.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        getFeatureGroupByLang_Global("#FeatureGroup_Id", "", "");
    });
</script>

