﻿@model FeatureGroupTranslation

<div class="cart-body">

    <form id="featureGroupFrm" asp-action="CreateFeatureGroup" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FeatureGroup_Id" value="0" />
        <div class="row">
            <div class="col-md-4">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-8">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
          
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-success" onclick="insertFeatureGroup()" id="btnInsertFeatureGroup">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/FeatureGroup.js"></script>
