﻿@model FeatureTranslation


<div class="cart-body">

    <form id="featureTransFrm" asp-action="EditFeatureTranslation" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FeatureTranslation_ID" />
        <input type="hidden" asp-for="Feature_Id" />
        <div class="row">
            <div class="col-md-4">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-8">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group update_div">
            <button type="button" class="btn btn-outline-info" id="btnUpdateFeatureFinal" onclick="updateFeatureTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <button type="button" class="btn btn-outline-success" id="btnInsertFeatureFinal" onclick="insertFeatureTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/Feature.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {

        $("#language_id").change(function () {
            var LangId = $(this).val();
            getFeatureInfoWithLanguage(LangId, $("#Feature_Id").val());
        });

    });

</script>