﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.Features.FeaturesModel
@{
    ViewData["Title"] = "ویژگی ها";
}

<!-- #region Feature -->

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">  گروه ویژگی </h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createFeatureGroup()"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('feature_tb', 'test')" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick=" printHtml('feature_tb')" id="print" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">

                    <table id="featureGroup_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </form>
        </div>

    </div>
</div>

<!-- #endregion -->
<!-- #region State -->

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">ویژگی</h3>
                </div>
                <div class="col-2 btn-add-header">

                    <button class="btn btn-outline-success" onclick="createFeature()"><i class="fa fa-plus"></i> افزودن</button>
                </div>
                <div class="col-3">
                    <select class="form-control" id="featureGroup_ddl" onchange="viewAllFeatures($(this).val());getFeaturesByLang_Global($(this).val(), '#feature_ddl', '', '');">
                    </select>
                </div>
                <div class="col-1">
                    <i class="fa fa-filter text-lg" aria-hidden="true"></i>
                </div>

            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('feature_tb', 'test')" id="excel2" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="  printHtml('feature_tb');" id="print2"><i class="fa fa-print"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">
                    <table id="feature_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>وضعیت</th>
                                <th> در فیلتر</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>

</div>

<!-- #endregion -->
<!-- #region FeatureReply -->

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">جواب ویژگی</h3>
                </div>
                <div class="col-2 btn-add-header">

                    <button class="btn btn-outline-success" onclick="createFeatureReply()"><i class="fa fa-plus"></i> افزودن</button>
                </div>
                <div class="col-3">
                    <select class="form-control" id="feature_ddl" onchange="viewAllFeatureReplies($(this).val())">
                        <option value="0">ویژگی ...</option>
                    </select>
                </div>
                <div class="col-1">
                    <i class="fa fa-filter text-lg" aria-hidden="true"></i>
                </div>

            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('featureReply_tb', 'test')" id="excel2" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="  printHtml('featureReply_tb');" id="print2"><i class="fa fa-print"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">
                    <table id="featureReply_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>مقدار</th>
                                <th>پیش فرض</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>

</div>

<!-- #endregion -->

@section scripts{
    <script src="~/AdminContent/AdminPages/FeatureGroup.js"></script>
    <script src="~/AdminContent/AdminPages/Feature.js"></script>
    <script src="~/AdminContent/AdminPages/FeatureReply.js"></script>

    <script>
        $(function () {
            viewAllFeatureGroups();
            getFeatureGroupByLang_Global("#featureGroup_ddl", "", "");
            getFeaturesByLang_Global("","#feature_ddl", "", "");
            viewAllFeatures();
            viewAllFeatureReplies();
        });
    </script>
}
