﻿@model ConnectionTranslation


<div class="cart-body">

    <form id="connectionTransFrm" asp-action="ConnectionTranslationTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ConnectionId" value="@TempData["ConnectionId"]" />
        <div class="form-group">
            <label for="Title">زبان</label>
            @await Component.InvokeAsync("GetLanguages", false)
        </div>
        <div class="form-group">
            <label for="Title">نام راه ارتباطی </label>
            <input type="text" asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Title">مقدار راه ارتباطی </label>
            <input type="text" asp-for="Value" class="form-control">
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-success" onclick="insertConnectionTranslation()" id="btnInsertConnectionFinal">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/Connection.js"></script>
<partial name="_ValidationScriptsPartial" />