﻿@model ConnectionGroup


<div class="cart-body">
    <form id="connectionGroupFrm" asp-action="CreateGroup" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>عنوان</label>
            <input type="text" asp-for="Title" class="form-control" onchange="setSlug($(this).val(),'#Slug')">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group hide">
            <label>اسلاگ</label>
            <input type="text" asp-for="Slug" class="form-control">
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive"  checked="checked"/>&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-outline-success" onclick="insertConnectionGroup()" id="btnInsertConnectionGroup">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>

    </form>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/ConnectionGroup.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
    });

</script>