﻿@model Connection
@{ var connectionTypes = TempData["ConnectionTypes"];}
<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#connection_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="connectionFrm" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id"/>
                        <div class="row">
                            <div class="col-md-5">
                                <label>گروه</label>
                                <select asp-for="GroupId" class="form-control" asp-items="@(new SelectList((IEnumerable<ConnectionGroup>)TempData["ConnectionGroups"],"Id","Title"))">
                                    <option value="">انتخاب کنید</option>
                                </select>
                                <span asp-validation-for="GroupId" class="text-danger"></span>
                            </div>
                            <div class="col-md-5">
                                <label>نوع راه ارتباطی</label>
                                <select asp-for="Type" class="form-control" onchange="setConnectionImage($(this).val())" asp-items="@Html.GetEnumSelectList<ConnectionType>()">
                                    <option value="-1">انتخاب کنید</option>
                                </select>
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                            <div class="col-md-1 text-lg"><br />
                                <label id="Image"></label>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-6 resume insert-div">
                                <br />
                                <button type="button" class="btn btn-outline-primary" onclick="insertConnection()" id="btnInsertConnection">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                                </button>
                            </div>
                            <div class="col-md-6 resume update-div hide">
                                <br />
                                <button type="button" class="btn btn-outline-info" id="btnUpdateConnection" onclick="updateConnection()">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="connection_trans">

            </div>

            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/Connection.js"></script>
