﻿@model ConnectionTranslation

<div class="cart-body">

    <form id="connectionTransFrm" asp-action="EditConnectionTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ConnectionId" value="@Model.ConnectionId" />
        <div class="form-group">
            <label for="Title">زبان</label>
            @await Component.InvokeAsync("GetLanguages", false)
        </div>
        <div class="form-group">
            <label for="Title">نام راه ارتباطی </label>
            <input type="text" asp-for="Name" class="form-control" data-id="@Model.Id">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Title">مقدار راه ارتباطی </label>
            <input type="text" asp-for="Value" class="form-control">
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <div class="form-group update_div">
            <br />
            <button type="button" class="btn btn-outline-info" onclick="updateConnectionTranslation()" id="btnUpdateConnectionTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <br />
            <button type="button" class="btn btn-outline-success" onclick="insertConnectionTranslation()" id="btnInsertConnectionTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/Connection.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
  
    $("#language_id").change(function () {
        var LangId = $(this).val();
        getConnectionInfoWithLanguage(LangId, $("#ConnectionId").val());
    });
</script>