﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.Connections.ConnectionsModel
@{
    ViewData["Title"] = "راه های ارتباطی";
}

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title"> گروه راه های ارتباطی</h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createConnectionGroup()" id="btnCreateConnectionGroup"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('connectionGroup_tb', 'test')" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick=" printHtml('connectionGroup_tb')" id="print" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">
                   
                    <table id="connectionGroup_tb" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </form>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">راه های ارتباطی</h3>
                </div>
                <div class="col-10 btn-add-header">

                    <button class="btn btn-outline-success" onclick="createConnection()" id="btnCreateConnection"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('connection_tb', 'test')" id="excel2" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="  printHtml('connection_tb');" id="print2"><i class="fa fa-print"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">
                    <table id="connection_tb" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th>مقدار</th>
                                <th>نام گروه</th>
                                <th>تصویر</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>

</div>

@section scripts{
    <script src="~/AdminContent/AdminPages/ConnectionGroup.js"></script>
    <script src="~/AdminContent/AdminPages/Connection.js"></script>

    <script>
        $(function () {
            viewAllConnectionGroups();
            viewAllConnections();
        });
    </script>
}
