﻿@model IEnumerable<ColorTranslation>
<div class="cart-body">

    <form id="colorTransFrm" asp-action="EditColorTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" id="colorId_trans" value="@Model.FirstOrDefault().ColorId" />
        <div class="row">
            <div class="col-md-6">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-6 form-group">
                <label for="Title">عنوان رنگ</label>
                <input type="text" asp-for="FirstOrDefault().Title" class="form-control">
                <span asp-validation-for="FirstOrDefault().Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-info" id="btnUpdateColorTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/Color.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        getColorTitleWithLanguage($("#language_id").val(), $("#colorId_trans").val());
    });
    $("#language_id").change(function () {
     
        var LangId = $(this).val();
        getColorTitleWithLanguage(LangId, $("#colorId_trans").val());
    });
</script>