﻿@model Color

<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های عمومی</a></li>
            <li class="nav-item"><a class="nav-link" href="#color_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های عمومی</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="colorFrm" asp-action="Edit" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ColorId" value="@Model.ColorId" />
                        <div class="row">
                            <div class="col-md-6">
                                <label>کد رنگ</label>
                                <input type="text" dir="ltr" asp-for="ColorCode" class="form-control demo" data-control="wheel" value="@Model.ColorCode">
                                <span asp-validation-for="ColorCode" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 resume">
                                <br />
                                <button type="button" class="btn btn-outline-info" id="btnUpdateColor">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="color_trans">
               
            </div>

            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
</div>
<script src="~/AdminContent/AdminPages/Color.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {

        $('.demo').each(function () {
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                format: $(this).attr('data-format') || 'hex',
                keywords: $(this).attr('data-keywords') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom',
                swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        //console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });

       // editColorTranslation($("#ColorId").val());
        
    });
</script>