﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.Colors.ColorsModel
@{
    ViewData["Title"] = "رنگ ها";
}



<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">مدیریت رنگ ها </h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" id="btnCreateColor"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" id="print" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row table-responsive culture">
                <table id="color_tb" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>نام رنگ</th>
                            <th>کد رنگ</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>




</div>

@section scripts{
    <script src="~/AdminContent/AdminPages/Color.js"></script>

    <script>
        $(function () {
            viewAllColors();
           
        });
    </script>
}
