﻿@using GleamTech.AspNet.Core
@using GleamTech.FileUltimate.AspNet.UI
@model FileManager[]

<!DOCTYPE html>
<!-- jQuery -->
<script src="~/AdminContent/plugins/jquery/jquery.min.js"></script>
<html>
<head>
    <title>File/Folder chooser</title>
    @this.RenderHead(Model[0])
    <script>
        var json;
        function fileManagerChosen(sender, e) {
            //Pretty print the chosen info (from event object) when it changes
            json = JSON.stringify(e, null, 2);
            //alert("Chosen event:\n" + json);


        }
        function test(data) {
            var el_html = "";
            var obj = JSON.parse(json);
            console.log(obj.items);
            $.each(obj.items, function (i, item) {

                var filePath = obj.items[i].fullPath;
                filePath = filePath.replace("[Files]:", "/Files");
                console.log(filePath);
                el_html += "<img src=" + filePath + " width='80' height='80'/>"
            });
            $("#imgs").html(el_html);
        }
    </script>
</head>
<body style="margin: 20px;">

    1. Chooser with single file selection:
    <input type="button" value="Choose..." onclick="fileManager1.show()" />
    <br /><br />
    @this.RenderBody(Model[0])

    <input type="button" value="test" onclick="test()" />
    <div id="imgs"></div>
</body>
</html>