﻿@model SlideShow

<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#slideShow_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="slideShowFrm" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="SlideShow_ID" />
                        <div class="row">
                            <div class="col-md-5">
                                <label>گروه برای آپلود عکس</label>
                                <select class="form-control" id="slideShowGroup" onchange="getSlideShowImageSize($(this).val())" asp-items="@(new SelectList((IEnumerable<SlideShowGroupTranslation>)TempData["SlideShowGroups"],"SlideShowGroup_Id","Title"))">
                                    <option value="">انتخاب کنید ...</option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <label>روش آپلود عکس</label><br />
                                <label>
                                    <input type="radio" name="r3" class="" value="1" checked="checked">
                                    تغییر اندازه تصویر
                                </label><br />
                                <label>
                                    <input type="radio" name="r3" class="" value="2">
                                    بدون تغییر اندازه
                                </label>
                            </div>
                        </div>
                        <div class="row simple_div">
                            <div class="col-md-4">
                                <label asp-for="Image" class="control-label"></label>
                                <input type="file" class="form-control-file" asp-for="Image" onchange="readURL(this, '#imgPreviewSlideShow')">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <img id="imgPreviewSlideShow" style=" max-width: 100px; height:100px" />
                            </div>
                        </div>
                        <div class="row advance_div hide">
                            <div class="col-md-3">
                                <label>عکس اصلی</label>
                                <input type="file" class="form-control-file" id="Image1">
                            </div>
                            <div class="col-md-3">
                                <label>عکس متوسط</label>
                                <input type="file" class="form-control-file" id="Image2">
                            </div>
                            <div class="col-md-3">
                                <label>عکس کوچک</label>
                                <input type="file" class="form-control-file" id="Image3" onchange="readURL(this, '#imgPreviewSlideShow2')">
                            </div>
                            <div class="col-md-3">
                                <img id="imgPreviewSlideShow2" style=" max-width: 100px; height:100px" />
                            </div>
                        </div>
                        <div class="row advance_size_div hide">
                            <div class="col-md-3">
                                <span id="imgWidth" class="text-danger text-bold"></span> <span id="imgHeight" class="text-danger text-bold"></span>
                            </div>
                            <div class="col-md-3">
                                <span id="mediumImgWidth" class="text-danger text-bold"></span> <span id="mediumImgHeight" class="text-danger text-bold"></span>
                            </div>
                            <div class="col-md-3">
                                <span id="smallImgWidth" class="text-danger text-bold"></span> <span id="smallImgHeight" class="text-danger text-bold"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 resume insert-div">
                                <br />
                                <button type="button" class="btn btn-outline-primary" onclick="insertSlideShow()" id="btnInsertSlideShow">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                                </button>
                            </div>
                            <div class="col-md-6 resume update-div hide">
                                <br />
                                <button type="button" class="btn btn-outline-info" id="btnUpdateSlideShow" onclick="updateSlideShow()">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="slideShow_trans">

            </div>

            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/SlideShow.js"></script>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
    $('input[name=r3]').on('ifChecked', function (event) {
        if ($(this).val() == "2") {
            $(".advance_div").removeClass('hide');
            $(".advance_size_div").removeClass('hide');
            $(".simple_div").addClass('hide');
        }
        else {
            $(".advance_div").addClass('hide');
            $(".advance_size_div").addClass('hide');
            $(".simple_div").removeClass('hide');
        }
    });
</script>
