﻿@model SlideShowTranslation


<div class="cart-body">

    <form id="slideShowTransFrm" asp-action="CreateSlideShowTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SlideShow_Id" value="@TempData["SlideShowId"]" />
        <div class="row">
            <div class="col-md-6">
                <label>زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-6">
                <label asp-for="TranslationGroup_Id" class="control-label"></label>
                <select asp-for="TranslationGroup_Id" class="form-control">
                    <option value="">انتخاب کنید</option>
                </select>
                <span asp-validation-for="TranslationGroup_Id" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Link" class="control-label"></label>
                <input type="text" asp-for="Link" class="form-control">
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Text" class="control-label"></label>
            <textarea asp-for="Text" class="form-control"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive" checked="checked" />&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-success" id="btnInsertSlideShowFinal" onclick="insertSlideShowTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/SlideShow.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        getSlideShowGroupByLang('');
    });

    $("#language_id").change(function () {
        getSlideShowGroupByLang($(this).val());
    });

</script>