﻿@model SlideShowGroupTranslation

<div class="cart-body">
    <form id="slideShowGroupTransFrm" asp-action="EditGroupTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SlideShowGroup_Id" />
        <input type="hidden" asp-for="SlideShowGroupTranslation_ID" />
        <div class="form-group">
            <label for="Title">زبان</label>
            @await Component.InvokeAsync("GetLanguages", false)
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input type="text" asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group update_div">
            <button type="button" class="btn btn-outline-info" onclick="updateSlideShowGroupTranslation()" id="btnUpdateSlideShowGroupTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <button type="button" class="btn btn-outline-success" onclick="insertSlideShowGroupTranslation()" id="btnInsertSlideShowGroupTrans">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>

    </form>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/SlideShowGroup.js"></script>
<script>

    $("#language_id").change(function () {

        var LangId = $(this).val();
        getGroupTransInfoWithLangId(LangId, $("#SlideShowGroup_Id").val());
    });
</script>