﻿@model SlideShowTranslation


<div class="cart-body">

    <form id="slideShowTransFrm" asp-action="EditSlideShowTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SlideShow_Id" />
        <input type="hidden" asp-for="SlideShowTranslation_ID" value="@Model.SlideShowTranslation_ID" />
        <input type="hidden" id="Group_Id" />
        <div class="row">
            <div class="col-md-6">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-6">
                <label asp-for="TranslationGroup_Id" class="control-label"></label>
                <select asp-for="TranslationGroup_Id" class="form-control">
                </select>
                <span asp-validation-for="TranslationGroup_Id" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Link" class="control-label"></label>
                <input type="text" asp-for="Link" class="form-control">
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Text" class="control-label"></label>
            <textarea asp-for="Text" class="form-control"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive" />&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group update_div">
            <br />
            <button type="button" class="btn btn-outline-info" id="btnUpdateSlideShowFinal" onclick="updateSlideShowTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div hide">
            <br />
            <button type="button" class="btn btn-outline-success" id="btnInsertSlideShowFinal" onclick="insertSlideShowTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/SlideShow.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
        getSlideShowGroupByLang('', 'edit','@Model.TranslationGroup_Id');
    });
    $("#language_id").change(function () {
        getSlideShowTransInfoWithLanguage($(this).val(), $("#SlideShow_Id").val());
    });

</script>