﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.SlideShows.SlideShowsModel
@{
    ViewData["Title"] = "اسلایدشو";
}
<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title"> گروه اسلایدشو</h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createSlideShowGroup()"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('slideshowGroup_tb', 'test')" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick=" printHtml('slideshowGroup_tb')" id="print" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="">
            <form method="post">
                <div class="row table-responsive culture">

                    <table id="slideshowGroup_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </form>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">اسلایدشو</h3>
                </div>
                <div class="col-2 btn-add-header">

                    <button class="btn btn-outline-success" onclick="createSlideShow()"><i class="fa fa-plus"></i> افزودن</button>
                </div>
                <div class="col-3">
                    <select class="form-control" id="slideshowGroup_ddl" onchange="viewAllSlideShows($(this).val())">
                        <option value="0">گروه اسلایدشو ...</option>
                    </select>
                </div>
                <div class="col-1">
                    <i class="fa fa-filter text-lg" aria-hidden="true"></i>
                </div>

            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('slideShow_tb', 'test')" id="excel2" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="  printHtml('slideShow_tb');" id="print2"><i class="fa fa-print"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">
                    <table id="slideShow_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>تصویر</th>
                                <th>عنوان</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>

</div>

@section scripts{
    <script src="~/AdminContent/AdminPages/SlideShowGroup.js"></script>
    <script src="~/AdminContent/AdminPages/SlideShow.js"></script>

    <script>
        $(function () {
            setTooltip("#slideShow_tb");
            viewAllSlideShowGroups();
            viewAllSlideShows();
            getSlideShowGroupByLang_Global("", "#slideshowGroup_ddl");
        });
    </script>
}
