﻿@model ContentStatisticsVM

<div class="cart-body">
    <div class="row">
        <div class="col-md-6">

            <div class="info-box">
                <span class="info-box-icon bg-primary"><i class="fa fa-eye"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">تعداد بازدید</span>
                    <span class="info-box-number">@Model.VisitCount</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fa fa-thumbs-o-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">تعداد لایک</span>
                    <span class="info-box-number">@Model.LikeCount</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="info-box">
                <span class="info-box-icon bg-warning"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">امتیازات</span>
                    <span class="info-box-number">@Model.Votes</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="info-box">
                <span class="info-box-icon bg-warning"><i class="fa fa-star-half-empty"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">میانگین امتیازات</span>
                    <span class="info-box-number">@Model.AvgVotes</span>
                </div>
            </div>
        </div>
      
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="info-box">
                <span class="info-box-icon bg-warning"><i class="fa fa-star"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">جمع امتیازات</span>
                    <span class="info-box-number">@Model.SumVotes</span>
                </div>
            </div>
        </div>
    </div>
</div>