﻿@model ContentTranslation
<link href="~/AdminContent/dist/css/bootstrap-tagsinput.css" rel="stylesheet" asp-append-version="true" />


<div class="cart-body">

    <form id="contentTransFrm" asp-action="ContentTranslationTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Content_Id" value="@TempData["ContentId"]" />
        <div class="form-group">
            <div class="col-md-4">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-link text-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            انتخاب گروه محتوا
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <div id="contentsGroup4_tw" style="width:315px;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control" onchange="setSlug($(this).val(),'#Slug')">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Slug" class="control-label"></label>
                <input type="text" asp-for="Slug" class="form-control">
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Summery" class="control-label"></label>
                <textarea rows="4" asp-for="Summery" class="form-control"></textarea>
                <span asp-validation-for="Summery" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Author" class="control-label"></label>
                <input type="text" asp-for="Author" class="form-control">
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContentText" class="control-label"></label>
            <textarea id="ContentText" class="form-control"></textarea>
            <span asp-validation-for="ContentText" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="MetaTitle" class="control-label"></label>
                <input type="text" asp-for="MetaTitle" class="form-control">
                <span asp-validation-for="MetaTitle" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="MetaKeword" class="control-label"></label>
                <input type="text" asp-for="MetaKeword" class="form-control">
                <span asp-validation-for="MetaKeword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="MetaDescription" class="control-label"></label>
                <textarea rows="4" asp-for="MetaDescription" class="form-control"></textarea>
                <span asp-validation-for="MetaDescription" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="MetaOther" class="control-label"></label>
                <textarea rows="4" asp-for="MetaOther" class="form-control"></textarea>
                <span asp-validation-for="MetaOther" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="text" asp-for="Tag" placeholder="کلمات کلیدی خود را وارد نمایید" data-role="tagsinput" />
            <span asp-validation-for="Tag" class="text-danger"></span>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-success" onclick="insertContentTranslation()" id="btnInsertContentFinal">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/ContentGroup.js"></script>
<script src="~/AdminContent/AdminPages/Content.js"></script>
<partial name="_ValidationScriptsPartial" />

<script src="~/AdminContent/dist/js/bootstrap-tagsinput.js" asp-append-version="true"></script>

<script>
    $(function () {
        CKEDITOR.replace('ContentText', {
            customConfig: '/ckeditor/config.js'
        });
        getAllContentsGroupForTreeView('');

    });
    $("#language_id").change(function () {
        getAllContentsGroupForTreeView($(this).val(), "dontShow");
    });
</script>