﻿@model ContentGroupTranslation


<div class="cart-body">

    <form id="contentGroupTransFrm" asp-action="CreateContentGroupTrans" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ContentGroup_Id" value="@TempData["ContentGroupId"]" />
        <div class="form-group">
            <label for="Title">زبان</label>
            @await Component.InvokeAsync("GetLanguages", false)
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input type="text" asp-for="Title" class="form-control" onchange="setSlug($(this).val(),'#Slug')">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group hide">
            <label asp-for="Slug" class="control-label"></label>
            <input type="text" asp-for="Slug" class="form-control">
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea type="text" asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-success" id="btnInsertContentGroupFinal" onclick="insertContentGroupTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/ContentGroup.js"></script>
<partial name="_ValidationScriptsPartial" />