﻿@model ContentGroup
<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#contentGroup_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="contentGroupFrm" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ContentGroup_ID" value="@Model.ContentGroup_ID" />
                        <input type="hidden" asp-for="ParentId" value="@Model.ParentId" />
                        <div class="row">
                            <div class="col-md-9">
                                <div id="contentsGroup3_tw" style="width:315px;margin-right:-20px"></div>
                            </div>

                        </div>
                        <div class="row">
                            <br /><br />
                            <label class="control-label">اندازه تصاویر</label>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label asp-for="ContentImageWidth" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="ContentImageWidth">
                                <span asp-validation-for="ContentImageWidth" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="ContentImageHeight" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="ContentImageHeight">
                                <span asp-validation-for="ContentImageHeight" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <div class="input-group py-2">
                                    <input type="checkbox" asp-for="IsActive"/>&nbsp;  فعال / غیر فعال
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 resume update-div">
                                <br />
                                <button type="button" class="btn btn-outline-info" id="btnUpdateContentGroup" onclick="updateContentGroup()">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane" id="contentGroup_trans">

            </div>
        </div>
        <!-- /.tab-pane -->
        <!-- /.tab-content -->
    </div><!-- /.card-body -->
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/ContentGroup.js"></script>
<script>
    $(function () {
        getAllContentsGroupForTreeView($("#global_language_id").val());

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
        var parenId = $("#ParentId").val();
        $('.list-group-item[data-nodeid=' + parenId + ']').each(function (e) {
            
            $(this).css('color', '#FFFFFF','background-color','#428bca');
        });
    });

</script>
