﻿@model Content

<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#content_trans" data-toggle="tab">جزئیات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="contentFrm" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Content_ID" value="@Model.Content_ID" />
                        <input type="hidden" id="oldImage" value="@Model.Image" />
                        <input type="hidden" asp-for="SmallImage" value="@Model.SmallImage" />
                        <input type="hidden" asp-for="CreateDate" value="@Model.CreateDate" />
                        <div class="row">
                            <div class="col-md-5">
                                <label asp-for="Gallery_Id" class="control-label"></label>
                                <select asp-for="Gallery_Id" class="form-control" asp-items="@(new SelectList((IEnumerable<GalleryTranslation>)TempData["Galleries"],"Gallery_Id","Title",Model.Gallery_Id))">
                                    <option value="">انتخاب کنید</option>
                                </select>
                                <span asp-validation-for="Gallery_Id" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Image" class="control-label"></label>
                                <input type="file" class="form-control-file" asp-for="Image" onchange="readURL(this, '#imgPreviewGallery')">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <img id="imgPreviewGallery" style="max-width: 100px; height:100px" src="/@Model.Image" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group py-2">
                                <input type="checkbox" asp-for="IsActive"/>&nbsp;  فعال / غیر فعال
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-md-6 resume">
                                <br />
                                <button type="button" class="btn btn-outline-info" id="btnUpdateContent" onclick="updateContent()">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="content_trans">

            </div>

            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/Content.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
    });

</script>