﻿@model ContentGroupTranslation


<div class="cart-body">

    <form id="contentGroupTransFrm" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ContentGroup_Id" value="@Model.ContentGroup_Id" />
        <input type="hidden" asp-for="SiteMap_Id" value="@Model.SiteMap_Id" />
        <div class="form-group">
            <label for="Title">زبان</label>
            @await Component.InvokeAsync("GetLanguages", false)
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input type="text" asp-for="Title" class="form-control"  onchange="setSlug($(this).val(),'#Slug')" data-id="@Model.ContentGroupTranslation_ID">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group hide">
            <label asp-for="Slug" class="control-label"></label>
            <input type="text" asp-for="Slug" class="form-control">
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea type="text" asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group update_div">
            <br />
            <button type="button" class="btn btn-outline-info" id="btnUpdateContentGroupTrans" onclick="updateContentGroupTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
        <div class="form-group insert_div">
            <br />
            <button type="button" class="btn btn-outline-success" id="btnInsertContentGroupFinal" onclick="insertContentGroupTranslation()">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/ContentGroup.js"></script>
<partial name="_ValidationScriptsPartial" />

<script>
    $("#language_id").change(function () {
        
        var LangId = $(this).val();
        getContentGroupInfoWithLanguage(LangId, $("#ContentGroup_Id").val());
    });
</script>