﻿@model ContentGroupTranslation

<table class="table table-bordered table-hover" id="contentGroup_tb">
    <thead>
        <tr>
            <th>عنوان</th>
            <th>وضعیت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tr>
        <td>@Model.Title</td>

        <td>
            @if (Model.ContentGroup.IsActive)
            {
                <span class="text-success">فعال</span>
            }
            else
            {
                <span class="text-danger">غیرفعال</span>
            }
        </td>
        <td>
            <div class="btn-group" role="group">
                <span class="btn btn-outline-info btnContentGroupEdit" onclick="editContentGroup(@Model.ContentGroup_Id,@Model.ContentGroupTranslation_ID)" data-contentGroupId="@Model.ContentGroup_Id" data-id="@Model.ContentGroupTranslation_ID">
                
                    <i class="fa fa-edit fa-sm"></i>
                </span>
                <span class="btn btn-outline-danger btnContentGroupDelete" onclick="deleteContentGroup(@Model.ContentGroup_Id,@Model.ContentGroupTranslation_ID)" data-contentGroupId="@Model.ContentGroup_Id" data-id="@Model.ContentGroupTranslation_ID">
                    <i class="fa fa-trash fa-sm"></i>
                </span>
            </div>
        </td>
    </tr>
</table>

<script src="~/AdminContent/AdminPages/ContentGroup.js"></script>

@*<script>
        $(function () {
            $("#contentGroup_tb").DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "processing": true,
                "info": false,
            });
        });
    </script>*@
