﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.Contents.ContentsModel
@{
    ViewData["Title"] = "محتوا ها";
}

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title"> گروه محتواها</h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" id="btnCreateContentGroup" onclick="createContentGroup()"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                @*<button type="button" class="btn btn-tool" onclick="tableToExcel('connectionGroup_tb', 'test')" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                    <button type="button" class="btn btn-tool" id="print" title="چاپ"><i class="fa fa-print text-primary"></i></button>*@
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>


        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="form-group">
                <div id="contentsGroup2_tw" style="width:315px;"></div>
            </div>
            <form method="post">
                <div class="row table-responsive" id="contentGroupDetails">



                </div>
            </form>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">محتوا</h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createContent()"><i class="fa fa-plus"></i> افزودن</button>
                </div>

               


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('content_tb', 'test')" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="printHtml('content_tb')" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <div id="contentsGroup5_tw" style="width:315px;"></div>
                </div>


                <div class="row table-responsive culture">
                    <table id="content_tb" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>تصویر</th>
                                <th>عنوان</th>
                                <th>وضعیت</th>
                                <th>تاریخ ایجاد</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>
    

</div>

@section scripts{
    <script src="~/AdminContent/AdminPages/ContentGroup.js"></script>
    <script src="~/AdminContent/AdminPages/Content.js"></script>

    <script>
        $(function () {
            getAllContentsGroupForTreeView($("#global_language_id").val());
            viewAllContents();
        });
    </script>
}
