﻿@model IEnumerable<Language>



<select class="form-control" id="global_language_id" onchange="changeLanguage($(this).val())">
    @foreach (var lang in Model)
    {
        if (CultureInfo.CurrentCulture.Name == lang.Id)
        {
            <option value="@lang.Id" selected="selected">@lang.Name</option>
        }
        else
        {
            <option value="@lang.Id">@lang.Name</option>
        }

    }
</select>


@*<a href="#" class="dropdown-item" data-val="@lang.Id" onclick="changeLanguage($(this).attr('data-val'))">
        <div class="media">
            <div class="media-body">
                <h3 class="dropdown-item-title">
                    @lang.Name

                </h3>
            </div>
        </div>
    </a>
    <div class="dropdown-divider"></div>*@