﻿@model State


<div class="cart-body">
    <form id="stateFrm" asp-action="EditState" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="State_ID"  />
        <div class="form-group">
            <label asp-for="CountryId" class="control-label"></label>
            <select asp-for="CountryId" class="form-control" asp-items="@(new SelectList((IEnumerable<Country>)TempData["Countries"],"Country_ID","Name",Model.CountryId))">
                @*<option value="">انتخاب کنید</option>*@
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input type="text" asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="control-label"></label>
            <input type="text" asp-for="Code" class="form-control">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive"/>&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-info" onclick="updateState()" id="btnUpdateState">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/State.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

</script>