﻿@model City


<div class="cart-body">
    <form id="cityFrm" asp-action="EditCity" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="City_ID" />
        <div class="row">
            <div class="col-md-6">
                <label asp-for="State.CountryId" class="control-label"></label>
                <select asp-for="State.CountryId" class="form-control" onchange="getStateByCountryId_Global('#State_Id', $(this).val())">
                    <option>کشور ...</option>
                </select>
                <span asp-validation-for="State_Id" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="State_Id" class="control-label"></label>
                <select asp-for="State_Id" class="form-control">
                    <option>استان ...</option>
                </select>
                <span asp-validation-for="State_Id" class="text-danger"></span>
            </div>


        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input type="text" asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="control-label"></label>
            <input type="text" asp-for="Code" class="form-control">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-group py-2">
                <input type="checkbox" asp-for="IsActive" />&nbsp;  فعال / غیر فعال
            </div>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-info" onclick="updateCity()" id="btnUpdateCity">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
            </button>
        </div>
    </form>

</div>
<script src="~/AdminContent/AdminPages/City.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
        getCountryByLang_GlobalForCity("#State_CountryId", "edit", '@Model.State.CountryId');
        getStateByCountryId_Global('#State_Id', $(this).val(), "edit", '@Model.State_Id');
    });

</script>