﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.Regions.RegionsModel
@{
    ViewData["Title"] = "شهر و استان";
}

<!-- #region Country -->

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">  کشور </h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createCountry()"><i class="fa fa-plus"></i> افزودن</button>
                </div>


            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('country_tb', 'test')" id="excel" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick=" printHtml('country_tb')" id="print" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">

                    <table id="country_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th>کد</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </form>
        </div>

    </div>
</div>

<!-- #endregion -->

<!-- #region State -->

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">استان</h3>
                </div>
                <div class="col-2 btn-add-header">

                    <button class="btn btn-outline-success" onclick="createState()"><i class="fa fa-plus"></i> افزودن</button>
                </div>
                <div class="col-3">
                    <select class="form-control" id="country_ddl" onchange="viewAllStates($(this).val()); getStateByCountryId_Global( '#state_ddl',$(this).val());">
                        <option value="0">کشور ...</option>
                    </select>
                </div>
                <div class="col-1">
                    <i class="fa fa-filter text-lg" aria-hidden="true"></i>
                </div>

            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('state_tb', 'test')" id="excel2" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="  printHtml('state_tb');" id="print2"><i class="fa fa-print"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">
                    <table id="state_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th>کد</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>

</div>

<!-- #endregion -->

<!-- #region City -->

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">شهر</h3>
                </div>
                <div class="col-2 btn-add-header">

                    <button class="btn btn-outline-success" onclick="createCity()"><i class="fa fa-plus"></i> افزودن</button>
                </div>
                <div class="col-3">
                    <select class="form-control" id="state_ddl" onchange="viewAllCities($(this).val())">
                        <option value="0">استان ...</option>
                    </select>
                </div>
                <div class="col-1">
                    <i class="fa fa-filter text-lg" aria-hidden="true"></i>
                </div>

            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('city_tb', 'test')" id="excel2" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="  printHtml('city_tb');" id="print2"><i class="fa fa-print"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row table-responsive culture">
                    <table id="city_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th>کد</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>

</div>

<!-- #endregion -->

@section scripts{
    <script src="~/AdminContent/AdminPages/Country.js"></script>
    <script src="~/AdminContent/AdminPages/State.js"></script>
    <script src="~/AdminContent/AdminPages/City.js"></script>

    <script>
        $(function () {
            viewAllCountries();
            viewAllStates();
            viewAllCities();
            getCountryByLang_Global("#country_ddl");
            getStateByCountryId_Global("#state_ddl", "");
            //viewAllStates();
        });
    </script>
}
