﻿
<div class="row">
    <div class="col-md-8 group_treeView similar_treeView">
        <div id="productsGroup7_tw" style="width:315px;"></div>
    </div>
    <div class="col-md-8 group_treeView suggest_treeView hide">
        <div id="productsGroup8_tw" style="width:315px;"></div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <select class="form-control" id="operationType_ddl" onchange="changeSimilarOperation($(this).val())">
                <option value="1">محصولات مشابه</option>
                <option value="2">محصولات پیشنهادی</option>
            </select>
        </div>

    </div>
</div>
<div class="row">
    <div class="card col-md-6 pt-3">
        <form method="post">
            <div class="row table-responsive culture">
                <table id="productForSimilar_tb" class="table table-hover dt-responsive nowrap hide" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            @*<th>تاریخ ایجاد</th>*@
                            <th>وضعیت</th>
                            @*<th>موجود</th>*@
                            <th>نمایش</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </form>
    </div>
    <div class="card col-md-6 pt-3">

        <div class="row deleteSimilar_div">
            <div class="col-md-6">
                <span>
                    <i class="fa fa-list" aria-hidden="true"></i>
                    لیست محصولات مشابه
                </span>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-danger btnDeleteSimilarProduct disabled tooltips mr-2" onclick="deleteSimilarProducts()" data-placement="top" title="برای حذف رکوردی را انتخاب کنید">
                    <i class="fa fa-trash"></i>
                    <i class="fa fa-spinner fa-spin hide"></i><span class="">حذف محصول مشابه </span>
                </button>
            </div>
        </div>

        <div class="row deleteSuggest_div hide">
            <div class="col-md-6">
                <span>
                    <i class="fa fa-list" aria-hidden="true"></i>
                    لیست محصولات پیشنهادی
                </span>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-danger btnDeleteSuggestProduct disabled tooltips mr-2" onclick="deleteSuggestProducts()" data-placement="top" title="برای حذف رکوردی را انتخاب کنید">
                    <i class="fa fa-trash"></i>
                    <i class="fa fa-spinner fa-spin hide"></i><span class="">حذف محصول پیشنهادی </span>
                </button>
            </div>
        </div>

        <div class="row table-responsive" id="resultSimilarViewAll">

        </div>
    </div>
</div>

<script>
    $(function () {
        setTooltip("#productForSimilar_tb");
        setTooltip(".deleteSimilar_div");
        //viewAllSimilarProducts($("#Product_ID").val());
    });
</script>