﻿@model ProductGroup
<div>
    <div class="card-header d-flex p-0">
        <h3 class="text-warning card-title p-3">@TempData["GroupTitle"]</h3>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">فیلد های مشترک</a></li>
            <li class="nav-item"><a class="nav-link" href="#productGroup_trans" data-toggle="tab">جزئیات</a></li>

            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">فیلد های مشترک</a>
                    <a class="dropdown-item" tabindex="-1" href="#">جزئیات</a>

                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
                <div class="cart-body">

                    <form id="productGroupFrm" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ProductGroup_ID" />
                        <input type="hidden" asp-for="ParentId" value="@TempData["GroupId"]" />
                        <input type="hidden" asp-for="Image" />
                        <div class="row">
                            <div class="col-md-6 hide">
                                <div id="productsGroup_tw" style="width:315px;margin-right:-20px"></div>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="Image" class="control-label"></label>
                                <input type="file" class="form-control-file" id="Image_temp" onchange="readURL(this, '#imgPreviewProductGroup')">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <img id="imgPreviewProductGroup" style=" max-width: 100px; height:100px" />
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <label class="control-label">اندازه تصاویر محصولات</label>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label asp-for="ImageWidth" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="ImageWidth" value="0">
                                <span asp-validation-for="ImageWidth" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="ImageHeight" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="ImageHeight" value="0">
                                <span asp-validation-for="ImageHeight" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="SmallImageWidth" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="SmallImageWidth" value="0">
                                <span asp-validation-for="SmallImageWidth" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="SmallImageHeight" class="control-label"></label>
                                <input type="number" class="form-control" asp-for="SmallImageHeight" value="0">
                                <span asp-validation-for="SmallImageHeight" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 resume insert-div">
                                <br />
                                <button type="button" class="btn btn-outline-primary" onclick="insertProductGroup()" id="btnInsertProductGroup">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                                </button>
                            </div>
                            <div class="col-md-6 resume update-div hide">
                                <br />
                                <button type="button" class="btn btn-outline-info" onclick="updateProductGroup()" id="btnUpdateProductGroup">
                                    <i class="fa fa-spinner fa-spin hide"></i><span class="">ویرایش</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane" id="productGroup_trans">

            </div>
        </div>
        <!-- /.tab-pane -->
        <!-- /.tab-product -->
    </div><!-- /.card-body -->
</div>
<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/ProductGroup.js"></script>
<script>
    $(function () {
        createProductGroupTranslation($("#ProductGroup_ID").val());
    });

</script>
