﻿@model ProductGroupTranslation

<div class="cart-body">
    <span class="text-primary">افزودن ویژگی به <span class="text-primary text-bold">@Model.Title</span></span>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <select id="FeatureGroup_ddl" class="form-control" asp-items="@(new SelectList((IEnumerable<FeatureGroupTranslation>)TempData["FeatureGroups"],"FeatureGroup_Id","Title"))">
                        <option value="">گروه ویژگی ...</option>
                    </select>

                </div>
                <div class="col-md-6">
                    <button class="btn btn-outline-success btnAddFeature disabled" onclick="insertProductGroupFeatures('@Model.ProductGroup_Id')"><i class="fa fa-plus"></i>  <i class="fa fa-spinner fa-spin hide"></i><span class="">افزودن</span> </button>
                </div>
            </div>
            <div id="featureList">

            </div>
        </div>

        <div class="col-md-6" id="productGroupFeatures">
            <div class="col-md-6">
                <button class="btn btn-outline-danger btnDeleteFeature disabled" onclick="deleteProductGroupFeatures('@Model.ProductGroup_Id','حذف ویژگی از @Model.Title')"><i class="fa fa-trash"></i>  <i class="fa fa-spinner fa-spin hide"></i><span class="">حذف ویژگی از @Model.Title </span> </button>
            </div>
        </div>

    </div>



</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/ProductGroup.js"></script>
<script>
    $(function () {
        getProductGroupFeatures('@Model.ProductGroup_Id');
    });
    $("#FeatureGroup_ddl").change(function () {
        getFeaturesByGroupId($(this).val());
    });
</script>
