﻿@model ProductGroupTranslation
@{
    var language = TempData["Language"] as Language;
}


<div class="card" id="card_@language.Id" data-id="@language.Id">
    <div class="card-header" id="heading_@language.Id">
        <h5 class="mb-0">
            <a class="btn btn-link text-secondary" data-toggle="collapse" data-target="#collapse_@language.Id" aria-expanded="false" aria-controls="collapse_@language.Id">
                <img src="~/Files/Images/@(language.Id).png" width="20" height="20" />
              
                <span> @language.Name</span>

            </a>
        </h5>
    </div>
    <div id="collapse_@language.Id" class="collapse" aria-labelledby="heading_@language.Id" data-parent="#accordion">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Title" class="control-label"></label>
                    <input type="text" asp-for="Title" id="Title_@language.Id" class="form-control" onchange="setSlug($(this).val(),'#Slug_@language.Id')">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Slug" class="control-label"></label>
                    <input type="text" asp-for="Slug" id="Slug_@language.Id" class="form-control">
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>

            </div>
            <div class="row">
                <label asp-for="Description" class="control-label"></label>
                <textarea type="text" asp-for="Description" id="Description_@language.Id" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Discount_Id" class="control-label"></label>
                    <select asp-for="Discount_Id" class="form-control" id="DiscountId_@language.Id">
                        <option value="">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="Discount_Id" class="text-danger"></span>
                </div>
                <div class="input-group col-md-6 mt-4-2">
                    <input type="checkbox" asp-for="IsActive" checked="checked" id="IsActive_@language.Id" />&nbsp;  فعال / غیر فعال
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });

        getAllDiscounts('@language.Id', "#DiscountId_@language.Id", "", "");
    });
</script>
