﻿@model ProductTranslation
@{
    var language = TempData["language"] as Language;
}


<div>
    <div class="card-header d-flex p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" href="#general" data-toggle="tab">عمومی</a></li>
            <li class="nav-item"><a class="nav-link" href="#productGroup" data-toggle="tab">دسته بندی</a></li>
            <li class="nav-item"><a class="nav-link" href="#feature" data-toggle="tab">ویژگی ها</a></li>
            <li class="nav-item"><a class="nav-link" href="#picture" data-toggle="tab">تصاویر</a></li>
            <li class="nav-item"><a class="nav-link" href="#similar" data-toggle="tab">مشابه</a></li>
            <li class="nav-item hide"><a class="nav-link" href="#seo" data-toggle="tab">سئو</a></li>
            <li class="nav-item"><a class="nav-link" href="#setting" data-toggle="tab">تنظیمات</a></li>
            <li class="nav-item dropdown">

                <div class="dropdown-menu">
                    <a class="dropdown-item" tabindex="-1" href="#">عمومی</a>
                    <a class="dropdown-item" tabindex="-1" href="#">دسته بندی</a>
                    <a class="dropdown-item" tabindex="-1" href="#">ویژگی ها</a>
                    <a class="dropdown-item" tabindex="-1" href="#">مشابه</a>
                    <a class="dropdown-item" tabindex="-1" href="#">سئو</a>
                    <a class="dropdown-item" tabindex="-1" href="#">تنظیمات</a>
                </div>
            </li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content">
            <input type="hidden" id="Product_ID" value="@Model.Product_Id" />
            <input type="hidden" id="Gallery_Id" value="@Model.Product.Gallery_Id" />
            <input type="hidden" id="CreateDate" value="@Model.Product.CreateDate"/>

            <div class="tab-pane active show" id="general">
                <div class="cart-body">
                    <!--ویرایش  اطلاعات محصول-->
                    <form id="productTransFrm" asp-action="EditProductTrans" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">زبان</label>
                                @await Component.InvokeAsync("GetLanguages", false)
                            </div>
                        </div>

                        <div id="accordion">
                            <div class="card" id="card_@language.Id" data-id="@language.Id">
                                <div class="card-header" id="heading_@language.Id">
                                    <h5 class="mb-0">
                                        <a class="btn btn-link text-secondary" data-toggle="collapse" data-target="#collapse_@language.Id" aria-expanded="false" aria-controls="collapse_@language.Id">
                                            <img src="~/Files/Images/@(language.Id).png" width="20" height="20" />

                                            <span> @language.Name</span>

                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse_@language.Id" class="collapse show" aria-labelledby="heading_@language.Id" data-parent="#accordion">
                                    <div class="card-body">
                                        <input type="hidden" id="ProductTranslation_ID_@language.Id" value="@Model.ProductTranslation_ID" />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label asp-for="Title" class="control-label"></label>
                                                <input type="text" asp-for="Title" id="Title_@language.Id" class="form-control">
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 pt-2">
                                                <input type="checkbox" id="isChange" />&nbsp; تغییر اسلاگ
                                                <input type="text" asp-for="Slug" id="Slug_@language.Id" class="form-control" disabled="disabled" onchange="setSlug($(this).val(),'#Slug_@language.Id')">
                                                <span asp-validation-for="Slug" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label asp-for="Description" class="control-label"></label>
                                            <textarea type="text" name="Description_@language.Id" class="form-control">@Html.Raw(Model.Description)</textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label asp-for="Discount_Id" class="control-label"></label>
                                                <select asp-for="Discount_Id" class="form-control" id="DiscountId_@language.Id">
                                                    <option value="">انتخاب کنید</option>
                                                </select>
                                                <span asp-validation-for="Discount_Id" class="text-danger"></span>
                                            </div>
                                            <div class="input-group col-md-6 mt-4-2">
                                                <input type="checkbox" asp-for="IsActive" id="IsActive_@language.Id" class="iCheck" />&nbsp;  فعال / غیر فعال
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label asp-for="MetaTitle" class="control-label"></label>
                                                <input type="text" asp-for="MetaTitle" id="MetaTitle_@language.Id" class="form-control">
                                                <span asp-validation-for="MetaTitle" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="MetaKeword" class="control-label"></label>
                                                <input type="text" asp-for="MetaKeword" id="MetaKeword_@language.Id" class="form-control">
                                                <span asp-validation-for="MetaKeword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label asp-for="MetaDescription" class="control-label"></label>
                                                <textarea rows="4" asp-for="MetaDescription" id="MetaDescription_@language.Id" class="form-control"></textarea>
                                                <span asp-validation-for="MetaDescription" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label asp-for="MetaOther" class="control-label"></label>
                                                <textarea rows="4" asp-for="MetaOther" id="MetaOther_@language.Id" class="form-control"></textarea>
                                                <span asp-validation-for="MetaOther" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" asp-for="Tag" id="Tag_@language.Id" placeholder="کلمات کلیدی خود را وارد نمایید" data-role="tagsinput" value="@Model.Tag" />
                                            <span asp-validation-for="Tag" class="text-danger"></span>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>


                        <!--ویرایش اطلاعات محصول در زبان دیگر در پارشیال ویو  another...-->
                        <div class="form-group pull-left">
                            <button type="button" class="btn btn-outline-primary" id="btnUpdateProductTrans" onclick="updateProductTranslation()">
                                <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>

            <!-- /.tab-pane -->

            <div class="tab-pane" id="productGroup">
                <!--افزودن گروه های محصول-->
                <div id="groupsOfProduct" class="hide">
                 
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-outline-secondary" onclick="switchTab('#productGroup', '#general')">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">بازگشت</span>
                    </button><button type="button" class="btn btn-outline-primary pull-left" id="btnGroupOfProduct" onclick="insertGroupsOfProduct();">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                    </button>
                </div>


            </div>

            <div class="tab-pane" id="feature">
                <!--افزودن ویژگی های محصول-->

                <div id="FeatureProduct" class="hide">
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control" id="FeatureGroup_ddl" onchange="getAllFeatureReplies($(this).val())">
                            </select>
                        </div>
                    </div>
                    <div class="row" id="FeatureProduct2"></div>
                    <hr />
                    <div class="row" id="FeatureProductList"></div>
                </div>

              

                <div class="form-group">
                    <button type="button" class="btn btn-outline-secondary" onclick="switchTab('#feature', '#productGroup');createFileManager('#PictureProduct');">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">بازگشت</span>
                    </button><button type="button" class="btn btn-outline-primary pull-left" onclick="switchTab('#feature', '#picture')">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                    </button>
                </div>
            </div>

            <div class="tab-pane" id="picture">
                <form id="productPicFrm">

                    <div id="PictureProduct" class=""></div>
                    <button type="button" class="btn btn-outline-success pull-left mr-2" id="btnProductPic" onclick="ProductPicturesUpload()">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">آپلود</span>
                    </button>
                </form>

                <div class="form-group">
                    <button type="button" class="btn btn-outline-secondary" id="btnFeatureProduct" onclick="switchTab('#picture', '#feature')">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">بازگشت</span>
                    </button><button type="button" class="btn btn-outline-primary pull-left" onclick="gotoSimilarPart()">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                    </button>
                </div>
            </div>

            <div class="tab-pane" id="similar">

                <div id="SimilarProduct" class=""></div>

                <div class="form-group">
                    <button type="button" class="btn btn-outline-secondary" onclick="switchTab('#similar', '#picture')">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">بازگشت</span>
                    </button><button type="button" class="btn btn-outline-primary pull-left" onclick="switchTab('#similar', '#setting')">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                    </button>
                </div>
            </div>

            <div class="tab-pane hide" id="seo">

                <h3>seo</h3>

                <div class="form-group">
                    <button type="button" class="btn btn-outline-secondary" onclick="switchTab('#seo', '#similar')">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">بازگشت</span>
                    </button><button type="button" class="btn btn-outline-primary pull-left" onclick="switchTab('#seo', '#setting')">
                        <i class="fa fa-spinner fa-spin hide"></i><span class="">ادامه</span>
                    </button>
                </div>
            </div>

            <div class="tab-pane" id="setting">

                <form method="post" id="productSettingFrm">
                    <partial name="_EditProductSetting" model="@Model.Product" />

                    <div class="form-group">
                        <button type="button" class="btn btn-outline-secondary" onclick="switchTab('#setting', '#similar')">
                            <i class="fa fa-spinner fa-spin hide"></i><span class="">بازگشت</span>
                        </button><button type="button" class="btn btn-outline-success pull-left" onclick="updateProductSetting();" id="btnUpdateProductSetting">
                            <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
                        </button>
                    </div>
                </form>
            
            </div>
            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
</div>
<script src="~/AdminContent/dist/js/bootstrap-tagsinput.js" asp-append-version="true"></script>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/AdminPages/Product.js"></script>
<script>
    $(function () {
        CKEDITOR.replace('Description_@language.Id', {
            customConfig: '/ckeditor/config.js'
        });


        $('.iCheck').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
        getAllDiscounts("", "#DiscountId_@language.Id", "@Model.Discount_Id", "edit");

        viewAllGroupsOfProduct($("#Product_ID").val());

    });

    $("#language_id").change(function () {
        editAnotherProductTranslation($(this).val(), '@Model.Product_Id');
        $("#collapse_@language.Id").removeClass('show');
    });

    $("#isChange").change(function () {
        if (this.checked) {
            $("#Slug_@language.Id").attr('disabled', false);
        }
        else if (!this.checked) {
            $("#Slug_@language.Id").attr('disabled', true);
        }
    });

</script>