﻿@model Product

<div class="card-body">
    <div class="row">
        <div class="col-md-3">
            <label asp-for="Code" class="control-label"></label>
            <input type="text" asp-for="Code" class="form-control">
            <span asp-validation-for="Code" class="text-danger"></span>

        </div>
        <div class="col-md-3 pt-4-2">
            <label>
                <input asp-for="IsExist" type="checkbox" class="iCheck"/> @Html.DisplayNameFor(model => model.IsExist)
            </label>
        </div>
        <div class="col-md-3 pt-4-2">
            <label>
                <input asp-for="IsPreview" type="checkbox" class="iCheck" /> @Html.DisplayNameFor(model => model.IsPreview)
            </label>
        </div>
        <div class="col-md-3 pt-4-2">
            <label>
                <input asp-for="BestSelling" type="checkbox" class="iCheck" /> @Html.DisplayNameFor(model => model.BestSelling)
            </label>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.iCheck').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
        });
    });
</script>
