﻿@model IEnumerable<FeatureTranslation>

<table class="table table-hover" id="features_tb">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAllFeatures" />
            </th>
            <th>عنوان</th>
            <th>وضعیت</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="forAdd" class="forAdd" value="@item.Feature_Id" />
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @if (item.Feature.IsVariable)
                    {
                        <span class="badge badge-info">متغیر</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary">ثابت</span>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {

        $("#features_tb").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Persian.json",
                "paginate": {
                    "next": "بعدی",
                    "previous": "قبلی"
                }
            },

            "processing": true,
            "info": false,
            "filter": false,
            "bLengthChange": false,
            "destroy": true,   /// allow reinitialize datattable
        });
    });

    $("#checkAllFeatures").change(function () {
        if (this.checked) {
            $(".forAdd").prop("checked", true);
            $(".btnAddFeature").removeClass('disabled');
        }
        else {
            $(".forAdd").prop("checked", false);
            $(".btnAddFeature").addClass('disabled');
        }
    });

    $(".forAdd").change(function () {
        if (this.checked) {
            $(".btnAddFeature").removeClass('disabled');
        }
        else {
            if ($(".forAdd:checked").length == 0)
                $(".btnAddFeature").addClass('disabled');
        }
    });
</script>
