﻿@model IEnumerable<FeatureReplyTranslation>
@{
    int i = 1;
}


@if (Model.Count() > 0)
{
    if (i == 3)
    {
        <div class="row">
            <div class="col-md-6">
                <div id="accordion_@Model.FirstOrDefault().FeatureReplyTranslation_ID" data-id="@Model.FirstOrDefault().FeatureReply.Feature_Id">
                    <div class="card">
                        <div class="card-header" id="heading_@Model.FirstOrDefault().FeatureReply.FeatureReply_ID">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_@Model.FirstOrDefault().FeatureReply.FeatureReply_ID" aria-expanded="true" aria-controls="collapse_@Model.FirstOrDefault().FeatureReply.FeatureReply_ID">
                                    @TempData["FeatureTitle"]
                                </button>
                            </h5>
                        </div>
                        <div id="collapse_@Model.FirstOrDefault().FeatureReply.FeatureReply_ID" class="collapse show" aria-labelledby="heading_@Model.FirstOrDefault().FeatureReply.FeatureReply_ID" data-parent="#accordion">
                            <div class="card-body">
                                @foreach (var featureReply in Model)
                                {
                                    <div class="col-md-6">
                                        <input type="checkbox" value="@featureReply.FeatureReply_Id" class="featureReply_@Model.FirstOrDefault().FeatureReplyTranslation_ID" />
                                        <span class="badge badge-info">@featureReply.Title</span>
                                    </div>
                                }
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <a style="text-decoration:underline" class="checkAllFeatureReply" data-id="@Model.FirstOrDefault().FeatureReplyTranslation_ID" href="#">همه</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a style="text-decoration:underline" class="unCheckAllFeatureReply" data-id="@Model.FirstOrDefault().FeatureReplyTranslation_ID" href="#">هیچکدام</a>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="checkbox" class="iCheck" id="IsVariable_@Model.FirstOrDefault().FeatureReplyTranslation_ID" /> متغیر&nbsp;
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-outline-success" id="btnInsertProductFeature" onclick="insertProductFeature(@Model.FirstOrDefault().FeatureReplyTranslation_ID)">
                                            <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <div id="accordion_@Model.FirstOrDefault().FeatureReplyTranslation_ID" data-id="@Model.FirstOrDefault().FeatureReply.Feature_Id">
                <div class="card">
                    <div class="card-header" id="heading_@Model.FirstOrDefault().FeatureReply.FeatureReply_ID">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_@Model.FirstOrDefault().FeatureReply.FeatureReply_ID" aria-expanded="true" aria-controls="collapse_@Model.FirstOrDefault().FeatureReply.FeatureReply_ID">
                                @TempData["FeatureTitle"]
                            </button>
                        </h5>
                    </div>

                    <div id="collapse_@Model.FirstOrDefault().FeatureReply.FeatureReply_ID" class="collapse show" aria-labelledby="heading_@Model.FirstOrDefault().FeatureReply.FeatureReply_ID" data-parent="#accordion">
                        <div class="card-body">
                            @foreach (var featureReply in Model)
                            {
                                <div class="col-md-6">
                                    <input type="checkbox" value="@featureReply.FeatureReply_Id" class="featureReply_@Model.FirstOrDefault().FeatureReplyTranslation_ID" />
                                    <span class="badge badge-info" data-id="@featureReply.FeatureReply_Id">@featureReply.Title</span>
                                </div>
                            }
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <a style="text-decoration:underline" class="checkAllFeatureReply" data-id="@Model.FirstOrDefault().FeatureReplyTranslation_ID" href="#">همه</a>
                                </div>
                                <div class="col-md-3">
                                    <a style="text-decoration:underline" class="unCheckAllFeatureReply" data-id="@Model.FirstOrDefault().FeatureReplyTranslation_ID" href="#">هیچکدام</a>
                                </div>
                                <div class="col-md-3">
                                    <input type="checkbox" class="iCheck" id="IsVariable_@Model.FirstOrDefault().FeatureReplyTranslation_ID"/> متغیر&nbsp;
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-outline-success" id="btnInsertProductFeature" onclick="insertProductFeature(@Model.FirstOrDefault().FeatureReplyTranslation_ID)">
                                        <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    i++;
}
else
{
   
}

<script>
    $(function () {
        $('.iCheck').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    })

    $(".checkAllFeatureReply").click(function () {  //Checked All
        var id = $(this).attr('data-id');
        $(".featureReply_" + id).prop("checked", true);
    });

    $(".unCheckAllFeatureReply").click(function () {  //UnChecked All
        var id = $(this).attr('data-id');
        $(".featureReply_" + id).prop("checked", false);
    });
</script>