﻿@using GleamTech.AspNet.Core
@using GleamTech.FileUltimate.AspNet.UI
@model FileManager

@this.RenderHead(Model)
<script>
    var json;
    //// تابع انتخاب از فایل منیجر
    function fileManagerChosen(sender, e) {
        //Pretty print the chosen info (from event object) when it changes
        json = JSON.stringify(e, null, 2);
        getImage();
    }

    ///گرفتن عکس های انتخابی
    function getImage() {
        var el_html = "";
        var obj = JSON.parse(json);
        if (obj.items.length > 0) {
            $.each(obj.items, function (i, item) {
                var filePath = obj.items[i].fullPath;
                var fileName = obj.items[i].name;
                filePath = filePath.replace("[Files]:", "/Files");
                var file_Id = filePath.replace("/", "");

                el_html += '<div class="myimage col-md-2">' +
                    '<span ><i class="fa fa-times-circle-o text-danger text-lg pointer-cursor" title="حذف"></i></span >' +
                    '<img id="' + file_Id + '" class="img-thumbnail imgPreviewsStyle tooltips" src="' + filePath + '" data-toggle="tooltip" data-placement="top" title="' + fileName + '" style="width:150px;height:140px">' +
                    '</div>';

            });
            $("#imgPreviews").html(el_html);

            $("#btnProductPic").removeClass('disabled');
        }
    }

    $("#updateButton").click(function () {
        $("#galleryPicFileManager").load("/Admin/Products?handler=FileManagerPartialView");
    });
</script>
<i class="fa fa-upload" aria-hidden="true"></i>  تصاویر خود را
<input type="button" value="انتخاب کنید..." onclick="fileManager1.show()" />
@*<span class="fa fa-refresh tooltips" data-toggle="tooltip" data-placement="top" title="به روز رسانی مدیریت فایل" id="updateButton"></span>*@



<div class="row pt-5 pb-4" id="imgPreviews" style="display:flex">

</div>
<div class="alert alert-warning galleryPicProduct_div hide">
</div>

@this.RenderBody(Model)
<script>
    $(document).ready(function () {
        setTooltip("#imgPreviews");

        $('#imgPreviews').on('click', '.myimage span i', function () {  //حذف از لیست تصاویر
            $(this).closest('div.myimage').hide(300, function () { $(this).remove(); })
        });

        viewAllProductPictures();
    });

    //$("#updateButton").click(function () {
    //    createFileManager("#galleryPicFileManager");
    //});
</script>




