﻿@model IEnumerable<ProductGroupFeature>

@if (Model.Count() > 0)
{
    <table class="table table-hover" id="productGroupFeature_tb">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="checkAllProductGroupFeatures" />
                </th>
                <th>عنوان</th>
                <th>وضعیت</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="pgf_@item.Feature_Id">
                    <td>
                        <input type="checkbox" name="forRemove" class="forRemove" value="@item.Feature_Id" />
                    </td>
                    <td>
                        @item.Feature.FeatureTranslations.FirstOrDefault(x => x.Language_Id == CultureInfo.CurrentCulture.Name).Title

                    </td>
                    <td>
                        @if (item.Feature.IsVariable)
                        {
                            <span class="badge badge-info">متغیر</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">ثابت</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script>
    $(function () {

        $("#productGroupFeature_tb").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Persian.json",
                "paginate": {
                    "next": "بعدی",
                    "previous": "قبلی"
                }
            },

            "processing": true,
            "info": false,
            "filter": false,
            "bLengthChange": false,
            "destroy": true,   /// allow reinitialize datattable
        });

        $("#checkAllProductGroupFeatures").change(function () {  //Checked All
            if (this.checked) {
                $(".forRemove").prop("checked", true);
                $(".btnDeleteFeature").removeClass('disabled');
            }
            else {
                $(".forRemove").prop("checked", false);
                $(".btnDeleteFeature").addClass('disabled');
            }
        });

        $(".forRemove").change(function () {
            if (this.checked) {
                $(".btnDeleteFeature").removeClass('disabled');
            }
            else {
                if ($(".forRemove:checked").length == 0)
                $(".btnDeleteFeature").addClass('disabled');
            }
        });
    });
</script>