﻿@model IEnumerable<GalleryPicture>

@foreach (var galleryPic in Model)
{
    var fileName = System.IO.Path.GetFileName(galleryPic.Image);
    <div class="myimage col-md-2">
        <span><i class="fa fa-times-circle-o text-danger text-lg pointer-cursor" title="حذف"></i></span>
        <img id="@galleryPic.Image" class="img-thumbnail imgPreviewsStyle tooltips" src="\@galleryPic.Image" data-toggle="tooltip" data-placement="top" title="@fileName" style="width:150px;height:140px">
    </div>
}
<script>
    $('#imgPreviews').on('click', '.myimage span i', function () {  //حذف از لیست تصاویر
        $(this).closest('div.myimage').hide(300, function () { $(this).remove(); })
    });
</script>
