﻿@model IEnumerable<FeatureReplyTranslation>

<div class="card-header">
    <div class="row">
        <h3 class="card-title"><span class="fa fa-list"></span>  لیست ویژگی های محصول  </h3>

    </div>
    <div class="col-md-6">
        <button class="btn btn-outline-danger btnDeleteFeature disabled" onclick="deleteProductFeatures()"><i class="fa fa-trash"></i>  <i class="fa fa-spinner fa-spin hide"></i><span class="">حذف ویژگی </span> </button>
    </div>
</div>
<!-- /.card-header -->
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAllProductGroupFeatures" />
            </th>
            <th>ویژگی</th>
            <th>جواب ویژگی</th>
            <th>وضعیت</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productFeature in Model)
        {
            var thisProductFeature = productFeature.FeatureReply.ProductFeatures.FirstOrDefault(x => x.FeatureReply_Id == productFeature.FeatureReply_Id && x.Product_Id == Convert.ToInt32(TempData["ProductId"]));
            <tr>
                <td>
                    <input type="checkbox" name="forRemove" class="forRemove" value="@productFeature.FeatureReply_Id" />
                </td>
                <td>@productFeature.FeatureReply.Feature.FeatureTranslations.FirstOrDefault(x => x.Language_Id == CultureInfo.CurrentCulture.Name).Title</td>

                <td>@productFeature.Title</td>
                @if (thisProductFeature.IsVariable)
                {
                    <td>
                        <span class="badge badge-info">متغیر</span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="badge badge-secondary">ثابت</span>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>
    $("#checkAllProductGroupFeatures").change(function () {  //Checked All
        if (this.checked) {
            $(".forRemove").prop("checked", true);
            $(".btnDeleteFeature").removeClass('disabled');
        }
        else {
            $(".forRemove").prop("checked", false);
            $(".btnDeleteFeature").addClass('disabled');
        }
    });

    $(".forRemove").change(function () {
        if (this.checked) {
            $(".btnDeleteFeature").removeClass('disabled');
        }
        else {
            if ($(".forRemove:checked").length == 0)
                $(".btnDeleteFeature").addClass('disabled');
        }
    });
</script>