﻿@model ProductGroupTranslation
@{
    var productGroups = TempData["ProductGroups"] as IEnumerable<ProductGroup>;
}
@if (Model != null)
{
    <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info-active">
            <span class="text-bold">@Model.Title</span>
            <span class="pull-left badge @(Model.IsActive?"badge-success":"badge-danger")">@(Model.IsActive?"فعال":"غیر فعال")</span>
        </div>
        <div class="widget-user-image">
            <img class="elevation-2 img-circle" src="/@(Model.ProductGroup.Image!=null?Model.ProductGroup.Image:"Files/Images/no-image.png")" alt="User Avatar">

        </div>
        <div class="">

        </div>
        <div class="card-footer mtt-3 p-0">
            <div class="form-group mr-5 mt-2">
                @if (Model.ProductGroup.ProductGroupFeatures.Count() > 0)
                {
                    <span class="btn btn-outline-success tooltips disabled" data-placement="top" title="این گروه شامل ویژگی می باشد جهت ثبت گروه ابتدا ویژگی های این گروه را حذف نمایید">
                        <i class="fa fa-plus fa-sm"></i>
                    </span>
                }
                else
                {
                    <span class="btn btn-outline-success tooltips" onclick="createProductGroup('@Model.ProductGroup_Id')" data-placement="top" title="افزودن گروه">
                        <i class="fa fa-plus fa-sm"></i>
                    </span>
                }
                <!-- /.col -->
                <span class="btn btn-outline-info tooltips" onclick="editProductGroup('@Model.ProductGroup_Id', '@Model.ProductGroupTranslation_ID')" data-placement="top" title="ویرایش گروه">
                    <i class="fa fa-edit fa-sm"></i>
                </span>
                <!-- /.col -->
                <span class="btn btn-outline-danger tooltips" onclick="deleteProductGroup('@Model.ProductGroup_Id','@Model.ProductGroupTranslation_ID')" data-placement="top" title="حذف گروه">
                    <i class="fa fa-trash fa-sm"></i>
                </span>
                @if (productGroups.Any(x => x.ParentId == Model.ProductGroup_Id))
                {
                    <span class="btn btn-outline-success tooltips disabled" data-placement="top" title="افزودن ویژگی برای گروهی که دارای فرزند می باشد ممکن نیست">
                        <i class="fa fa-bars fa-sm"></i>
                    </span>
                }
                else
                {
                    <span class="btn btn-outline-success tooltips" onclick="createProductGroupFeature('@Model.ProductGroupTranslation_ID')" data-placement="top" title="افزودن ویژگی">
                        <i class="fa fa-bars fa-sm"></i>
                    </span>
                }

                <!-- /.col -->
            </div>
            <div class="form-group mr-5 mt-2">
                @*<span class="btn btn-outline-warning tooltips" onclick="deleteProductGroup('@Model.ProductGroup_Id','@Model.ProductGroupTranslation_ID')" data-placement="top" title="نمایش جزئیات">
                        <i class="fa fa-list fa-sm"></i>
                    </span>*@

                <!-- /.col -->
                @*<span class="btn btn-outline-danger tooltips" onclick="deleteProductGroup('@Model.ProductGroup_Id','@Model.ProductGroupTranslation_ID')" data-placement="top" title="">
                        <i class="fa fa-eye fa-sm"></i>
                    </span>*@
                <!-- /.col -->
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>

}

<script src="~/AdminContent/AdminPages/ProductGroup.js"></script>
