﻿@model IEnumerable<SuggestProduct>

<table class="table table-hover table-responsive" id="suggestProduct_tb">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAllSuggestProduct" />
            </th>
            <th>عنوان</th>
            <th>وضعیت</th>
            <th>نمایش</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var suggestProduct in Model)
        {
            var thisProductTrans = suggestProduct.Suggest_Product.ProductTranslations.FirstOrDefault(x => x.Language_Id == CultureInfo.CurrentCulture.Name);
            <tr>
                <td>
                    <input type="checkbox" name="forRemove" class="forRemoveSuggest" value="@suggestProduct.ProductSuggest_Id" />
                </td>
                <td>
                    @thisProductTrans.Title
                </td>
                <td>
                    @if (thisProductTrans.IsActive)
                    {
                        <span class="text-success">فعال</span>
                    }
                    else
                    {
                        <span class="text-danger">غیر فعال</span>
                    }
                </td>

                @if (suggestProduct.Suggest_Product.IsPreview)
                {
                    <td>
                        <span class="badge badge-warning">پیش نمایش</span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="badge badge-success">نمایش</span>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        $("#suggestProduct_tb").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Persian.json"
            },
            "processing": true,
            "info": false,
        });
    });

    $("#checkAllSuggestProduct").change(function () {  //Checked All
        if (this.checked) {
            $(".forRemoveSuggest").prop("checked", true);
            $(".btnDeleteSuggestProduct").removeClass('disabled');
        }
        else {
            $(".forRemoveSuggest").prop("checked", false);
            $(".btnDeleteSuggestProduct").addClass('disabled');
        }
    });

    $(".forRemoveSuggest").change(function () {
        if (this.checked) {
            $(".btnDeleteSuggestProduct").removeClass('disabled');
        }
        else {
            if ($(".forRemoveSuggest:checked").length == 0)
                $(".btnDeleteSuggestProduct").addClass('disabled');
        }
    });
</script>
