﻿@model IEnumerable<ProductMiddleGroup>
@{ string groups = "";}
<div class="row">
    <div class="col-md-6">
        <div class="form-group group_treeView">
            <div id="productsGroup9_tw" style="width:315px;"></div>
        </div>
    </div>
    <div class="col-md-6">
        <span class="text-danger text-bold">گروه های این محصول </span>
        <div class="row" id="productGroupSelectedIds">

            @foreach (var productGroup in Model)
                    {
                        groups += productGroup.ProductGroup_Id.ToString() + '_';
                        var thisProductGroup = productGroup.ProductGroup.ProductGroupTranslations.FirstOrDefault(x => x.Language_Id == CultureInfo.CurrentCulture.Name);
            <div class="col-md-4 pt-2 pgId_div">
                <span class="tag badge badge-primary" data-id="@productGroup.ProductGroup_Id">
                    <i class="fa fa-close pointer-cursor"></i>
                    <span>@thisProductGroup.Title</span>
                </span>
            </div>
            }
        </div>
    </div>
</div>
<script>
    $(function () {

        var groups = '@groups';
        groupsArrSelected = groups.split('_');
        //console.log(groupsArrSelected);
        getAllProductsGroupForTreeView($("#global_language_id").val());


        $('#productGroupSelectedIds').on('click', '.pgId_div span i', function () {  //حذف از لیست تصاویر
            $(this).closest('div.pgId_div').hide(300, function () { $(this).remove(); });

            groupsArrSelected.splice
                (groupsArrSelected.indexOf($(this).parent('span.badge-primary').attr('data-id')), 1);
        });
    });
</script>