﻿@page
@model ItisaCMS_RazorPage.Areas.Admin.Pages.Products.ProductsModel
@{
    ViewData["Title"] = "محصولات";
}

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title"> گروه محصولات</h3>
                </div>
                @*<div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" id="btnCreateProductGroup" onclick="createProductGroup()"><i class="fa fa-plus"></i> افزودن</button>
                </div>*@
            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">

                    <div id="productsGroup2_tw" style="width:315px;"></div>

                </div>
                <div class="col-md-4" id="productGroupDetails">
                   <div class="alert alert-primary">
                       <span>برای افزودن یک گروه را انتخاب نمایید</span>
                   </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    <h3 class="card-title">محصول</h3>
                </div>
                <div class="col-10 btn-add-header">
                    <button class="btn btn-outline-success" onclick="createProduct()"><i class="fa fa-plus"></i> افزودن</button>
                </div>
            </div>
            <div class="card-tools">
                <partial name="_RefreshDatatable" />
                <button type="button" class="btn btn-tool" onclick="tableToExcel('product_tb', 'test')" title="ذخیره با اکسل"><i class="fa fa-file-excel-o text-success"></i></button>
                <button type="button" class="btn btn-tool" onclick="printHtml('product_tb')" title="چاپ"><i class="fa fa-print text-primary"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <div id="productsGroup5_tw" style="width:315px;"></div>
                </div>


                <div class="row table-responsive culture">
                    <table id="product_tb" class="table table-hover table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>تاریخ ایجاد</th>
                                <th>وضعیت</th>
                                <th>موجود</th>
                                <th>نمایش</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>

    </div>


</div>

@section scripts{
    <script src="~/AdminContent/AdminPages/ProductGroup.js"></script>
    <script src="~/AdminContent/AdminPages/Product.js"></script>

    <script>
        $(function () {
            setTooltip("#productGroupDetails");
            getAllProductsGroupForTreeView($("#global_language_id").val());
            viewAllProducts();
        });
    </script>
}
