﻿@model FAQ

<div class="cart-body">
    <form id="fAQFrm" asp-action="CreateFAQ" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <label for="Title">زبان</label>
                @await Component.InvokeAsync("GetLanguages", false)
            </div>
            <div class="col-md-6"><br />
                <div class="input-group py-2">
                    <input type="checkbox" asp-for="IsActive" checked="checked" />&nbsp;  فعال / غیر فعال
                </div>
            </div>
        </div>
        <div class="row">
            <label asp-for="Question" class="control-label"></label>
            <input type="text" asp-for="Question" class="form-control">
            <span asp-validation-for="Question" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Answer" class="control-label"></label>
            <textarea  asp-for="Answer" class="form-control" style="height:215px"></textarea>
            <span asp-validation-for="Answer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-success" onclick="insertFAQ()" id="btnInsertFAQ">
                <i class="fa fa-spinner fa-spin hide"></i><span class="">ثبت</span>
            </button>
        </div>
    </form>

</div>

<script src="~/AdminContent/AdminPages/FAQ.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        setDirectionWithLanguage($("#global_language_id").val());
    });
    $("#language_id").change(function () {
        setDirectionWithLanguage($(this).val());
    });
</script>